{{#each Result}} 
<div class="list my-request-list">
   <div class="list-group">
      <ul>
         <li class="list-group-title">
            <i class="bv {{icon}}"></i> 
            <container>{{Service}}</container>
         </li>
         {{#each Requests}} 
         <li onclick="goToRequestDetails(\'{{ID}}\',\'{{Service}}\',\'{{VesselNameId}}\', false)">
            <div class="item-content">
               <div class="item-inner">
                  <div class="item-title">
                     Request ID:
                     <container> {{ID}}</container>
                     Vessel: 
                     <container> {{VesselName}}</container>
                     <div class="paymentStatus {{RequestStatus}}">{{RequestStatus}} </div>
                     <container style="display:none">{{Name}}</container>
                     <span style="display:none">{{ID}}</span> <span style="display:none">{{Service}}</span> <span style="display:none">{{VesselNameId}}</span> <i class="bv icon-right-arrow-01 ricon"></i> 
                  </div>
               </div>
            </div>
         </li>
         {{/each}} 
      </ul>
   </div>
</div>
{{/each}}   
');