<div class="page my-requests" data-name="about-us">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left Ara">
                <a href="" class="link back">
                                <img class="side-menu-icon" src="./icons/back.svg" alt="">
                            </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                                <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                                <span class="twig-16 iicon-firefox"></span>
                            </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back">
                                <img class="side-menu-icon" src="./icons/back.svg" alt="">
                            </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content derating-certificate-form text">
        <div class="divider">
            <i class="bv icon-certificate-list  list-header-icon"></i>
            <span class="Eng">Ministry Message</span>
            <span class="Ara">رسالة الوزارة</span>
        </div>
        <div class="rbtn">

            <div class="aboutus-page-header">
                <img src="assets/img/Minister.jpg" class="aboutus-img">
            </div>

            <p class="aboutus-text Eng" id="">The sustainable development of our country in all its aspects, whether human, economic or social, reflects the
                stated aims and objectives of our political leadership, led by the wise vision of His Highness Sheikh Tamim
                Bin Hamad Al Thani, Emir of Qatar.<br/><br/> Transportation and communication play a vital role in all areas
                of modern life. They ensure the delivery of goods and services for individuals and communities, underpin
                the growth of other sectors, such as agriculture, industry, mining and trade and drive the development of
                modern cities, societies and economies.<br/><br/> The establishment of the Ministry of Transport and Communications
                and its mandates in accordance with Emiri Decree No. 4 of 2016 is an expression of the goals that we all
                seek for our State in line with Qatar National Vision 2030. The Ministry confirms its commitment to hard
                and diligent work through projects and programs that aim to build a land, maritime and aviation transportation
                system founded on the latest technologies and best practices in the sector.<br/><br/> The Ministry also performs
                a critical and far-reaching role in overseeing the development of the information and communications technology
                sector to make it more vibrant and advanced, and in creating a diversified economy that will benefit all
                the people of Qatar, as well as developing e-government programs and boosting capacity and digital literacy
                to foster a technology-friendly environment that introduces innovative approaches to how we communicate,
                live and work.<br/><br/> The Ministry invites all public and private entities to cooperate in order to continue
                to develop our homeland and achieve the Qatar National Vision 2030.
            </p>

            <p class="aboutus-text Ara" id="">
                إن التنمية المستدامة التي تشهدها دولتنا في جميع جوانبها، سواء البشرية أو الاقتصادية أو الاجتماعية، تعكس رؤية واهتمام القيادة
                السياسية وعلى رأسها سيدي حضرة صاحب السمو أمير البلاد المفدى الشيخ/ تميم بن حمد آل ثاني حفظه الله. ولا شك
                أن قطاعي النقل والمواصلات والاتصالات وتكنولوجيا المعلومات يضطلعان بدور أساسي في مختلف جوانب الحياة الحديثة
                نتيجة اعتماد أفراد المجتمع والمؤسسات الاقتصادية بصورة متزايدة على تطور خدمات النقل والاتصالات لتحقيق متطلبات
                النقل والتنقل والاتصالات في مختلف مناحي الحياة الخدمية.
                <br/><br/> إن من أهم عناصر التطور في مدن العالم حاليًا هو نظام النقل والاتصالات، بل ويعتبر العامل الرئيسي
                المؤثر على النمو الاقتصادي والاجتماعي، حيث تعتمد القطاعات الاقتصادية سواء كانت صناعية أو تجارية على البنية
                التحتية لنظام النقل والاتصالات وتكنولوجيا المعلومات.
                <br/><br/> وقد جاء إنشاء وزارة المواصلات والاتصالات وتحديد اختصاصاتها بموجب القرار الأميري رقم (4) لسنة 2016
                تعبيرًا عن هذه الرؤية التي نبتغيها جميعًا لدولتنا وتماشيًا مع رؤية قطر الوطنية 2030.
                <br/><br/> وتؤكد وزارة المواصلات والاتصالات على التزامها بمواصلة العمل الجاد والدؤوب من خلال المشاريع والبرامج
                التي تهدف إلى بناء منظومة مواصلات برية وبحرية، وفقًا لأحدث النظم وأفضل الممارسات العالمية في هذا المجال،
                بما يحقق توسيع نطاق الحركة الاقتصادية وخدمة متطلبات التنمية الوطنية. وكذلك العمل على تطوير قطاع الاتصالات
                وتكنولوجيا المعلومات وتنفيذ برامج الحكومة الإلكترونية والإشراف عليها، لبناء قطاع نشط وحيوي وآمن يسهم في تعزيز
                اقتصاد وطني متنوع يعود بالنفع على جميع الأفراد والمؤسسات في دولة قطر، وصولاً إلى بناء مجتمع المعرفة القائم
                على الاقتصاد الرقمي.
                <br/><br/> ومن هذا المنطلق، فإن وزارة المواصلات والاتصالات تدعو كافة الجهات الحكومية والمؤسسات الخاصة للتعاون
                معها من أجل رفعة وطننا وتحقيق رؤية قطر الوطنية 2030.
                <br/><br/> والله ولي التوفيق،،،
            </p>

            <div class="aboutus-page-header">



                <h3 class="Eng"> Jassim Saif Ahmed Al Sulaiti <br/> Minister of Transport and Communications</h3>

                <h3 class="Ara">جاسم بن سيف السليطي <br/>وزير المواصلات والاتصالات</h3>

            </div>


        </div>
    </div>
</div>