<div class="page my-requests" data-name="contact-us">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left Ara">
                <a href="" class="link back">
                                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                                    </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                                        <span class="twig-16 iicon-firefox"></span>
                                    </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back">
                                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                                    </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content derating-certificate-form text">
        <div class="divider">
            <i class="bv icon-certificate-list  list-header-icon"></i>
            <span class="Eng">Contact Us</span>
            <span class="Ara">اتصل بنا</span>
        </div>
        <div class="">

            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.3191409487613!2d51.53005339874897!3d25.327069763416713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8472afa1d5d5bf79!2sMOTC+-+Ministry+Of+Transport+%26+Communications+(Headquarters)!5e0!3m2!1sen!2sqa!4v1510597007850" -->
            <!-- <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDPQtcH_J1pmapyHKxPe0ktXFWXqz-K9qs&q=Communications+Regulatory+Authority"
                width="100%" height="250" frameborder="0" style="border:0"></iframe> -->

            <!-- <div id="map" style="width:100%; height:250px;"></div> -->

            <div class="mt-0  content-block" style="margin-bottom: 0px;">
                <!-- <div class="forms">
                    <form class="list contact-list" id="my-form">
                        <ul>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label Eng">Name</div>
                                        <div class="item-title item-label Ara">اسم</div>
                                        <div class="item-input-wrap">
                                            <input type="text" name="name" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label Eng">E-mail</div>
                                        <div class="item-title item-label Ara">البريد الإلكتروني</div>

                                        <div class="item-input-wrap">
                                            <input type="email" name="email" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label Eng">Message</div>
                                        <div class="item-title item-label Ara">رسالة</div>
                                        <div class="item-input-wrap">
                                            <textarea type="text" name="mname" placeholder=""></textarea>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                    <div class="block block-strong row" style="margin-top: 0px;">
                        <div class="col">
                            <p class="text-align-center">
                                <input type="button" class="rndbtn Eng" value="Send Message" id="loginbtn" onclick="login()">
                                <input type="button" class="rndbtn Ara" value="ارسل رسالة" id="loginbtn" onclick="login()">
                            </p>

                        </div>
                    </div>
                </div> -->





            </div>

            <!-- <div class="mb-0">
                <h3>Main Building</h3>
            </div> -->

            <div class="row mb-30 contactus-text">

                <div class="col-100">
                    <div class="content-block mt-0 mb-0">
                        <h3 class="Eng">Main Building</h3>
                        <h3 class="Ara">المبنى الرئيسي</h3>

                        <div class="row" style="margin-bottom:14px; margin-top: 15px;">
                            <div class="col-30 Eng" style="font-size: 15px;">Phone:</div>
                            <div class="col-30 Ara" style="font-size: 15px;">هاتف:</div>
                            <div class="col-70 color-red contact-phone">+974 40451111 / 16016 </div>
                        </div>

                        <!-- <div class="row" style="margin-bottom:14px;">
                            <div class="col-30" style="font-size: 15px;">Fax:</div>
                            <div class="col-70 color-red">+974 4499 4655</div>
                        </div> -->

                        <div class="row" style="margin-bottom:14px;">
                            <div class="col-30 Eng" style="font-size: 15px;">Email:</div>
                            <div class="col-30 Ara" style="font-size: 15px;">البريد الإلكتروني:</div>
                            <div class="col-70 color-red">info@motc.gov.qa</div>
                        </div>

                        <div class="row" style="margin-bottom:14px;">
                            <div class="col-30 Eng" style="font-size: 15px;">Address:</div>
                            <div class="col-30 Ara" style="font-size: 15px;">العنوان</div>
                            <div class="col-70 color-red Eng">Conference Center Street,<br>West Bay,<br> Doha, Qatar</div>
                            <div class="col-70 color-red Ara">شارع مركز المؤتمرات<br>الخليج الغربي،<br>الدوحة، قطر</div>
                        </div>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.3191409487613!2d51.53005339874897!3d25.327069763416713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8472afa1d5d5bf79!2sMOTC+-+Ministry+Of+Transport+%26+Communications+(Headquarters)!5e0!3m2!1sen!2sqa!4v1510597007850"
                    width="100%" height="250" frameborder="0" style="border:0"></iframe>
                </div>
                <div class="col-100">
                    <div class="content-block mt-0 mb-0">
                        <h3 class="Eng">Corniche Building</h3>
                        <h3 class="Ara">مبنى الكورنيش</h3>

                        <div class="row" style="margin-bottom:14px; margin-top: 15px;">
                            <div class="col-30 Eng" style="font-size: 15px;">Phone:</div>
                            <div class="col-30 Ara" style="font-size: 15px;">هاتف:</div>
                            <div class="col-70 color-red contact-phone">+974 40402623 / 16016</div>
                        </div>

                        <div class="row" style="margin-bottom:14px;">
                            <div class="col-30 Eng" style="font-size: 15px;">Fax:</div>
                            <div class="col-30 Ara" style="font-size: 15px;">فاكس:</div>
                            <div class="col-70 color-red contact-phone">+974 4499 4655</div>
                        </div>

                        <div class="row" style="margin-bottom:14px;">
                            <div class="col-30 Eng" style="font-size: 15px;">Email:</div>
                            <div class="col-30 Ara" style="font-size: 15px;">البريد الإلكتروني:</div>
                            <div class="col-70 color-red">info@motc.gov.qa</div>
                        </div>

                        <div class="row" style="margin-bottom:14px;">
                            <div class="col-30 Eng" style="font-size: 15px;">Address:</div>
                            <div class="col-30 Ara" style="font-size: 15px;">العنوان</div>
                            <div class="col-70 color-red Eng">Al Nassr Tower,<br>Opposite to Q-Post,<br>Corniche Street<br> Doha, Qatar</div>
                            <div class="col-70 color-red Ara">برج النصر<br>مقابل مكتب البريد العام<br>طريق الكورنيش<br>الدوحة، قطر</div>
                        </div>
                    </div>
                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDPQtcH_J1pmapyHKxPe0ktXFWXqz-K9qs&q=Al+Nasr+Tower+A,+Al+Markhiya+St,+Doha "
                    width="100%" height="250" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>