<template>
    <div class="page" data-name="events">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left Ara">
                    <a href="" class="link back">
                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                    </a>
                </div>
                <div class="left Eng">
                    <a href="#" class="link icon-only panel-open" data-panel="left">
                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                        <span class="twig-16 iicon-firefox"></span>
                    </a>
                </div>
                <div class="title"> </div>
                <div class="right Eng">
                    <a href="" class="link back">
                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                    </a>
                </div>
                <div class="right Ara">
                    <a href="#" class="link icon-only panel-open" data-panel="right">
                        <!-- <span class="kkicon icon-menu"></span> -->
                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                        <span class="twig-16 iicon-firefox"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="page-content derating-certificate-form events-content">
            <div class="divider text">
                <i class="bv icon-certificate-list list-header-icon"></i>
                <span class="Eng">Events</span>
                <span class="Ara">الفعاليات</span>
            </div>


            <div class="list-block mt-0 blog-box">
                {{#if loaded}}
                {{#if items}}
                <ul class="events">

                    {{#each items}}
                    <li class="swipeout">
                        <div class="item-content no-padding">
                            <div class="item-inner blog-list">
                                <div class="image">
                                    <a>
                                        <img data-src="{{node.Image}}" alt="" class="blockedimage lazy lazy-fade-in" />
                                    </a>
                                </div>
                                <div class="text">
                                    <h4 class="title mt-5 mb-5">
                                        <a>{{node.title}}</a></h4>
                                    <small class="mb-5">
                                        <span class="Eng">Event Date:</span>
                                        <span class="Ara">تاريخ الفعالية:</span>
                                        {{node.EventDate}}
                                    </small><br>
                                    <small class="mb-5">
                                        <span class="Eng">Event Type:</span>
                                        <span class="Ara">نوع الفعالية:</span>
                                        {{node.EventType}}
                                     </small> <br>
                                    <small class="mb-5">
                                        <span class="Eng">Location:</span>
                                        <span class="Ara">تاريخ الفعالية:</span>
                                        {{node.Location}}
                                    </small><br>
                                    <small class="mb-5">
                                        <span class="Eng">Contact:</span>
                                        <span class="Ara">اتصل بنا:</span>
                                        {{node.Contact}}</small><br>
                                    <p>{{node.Body}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{else}}
                <p class="text-align-center dataErr">No Data found</p>

                {{/if}}
                {{/if}}
            </div>




        </div>
    </div>
</template>
<script>
    return {
        data: function () {
            return {
                loaded: false
            }
        },
        on: {
            pageInit: function () {
                setLanguage();

                var self = this;
                var app = self.$app;

                lang = getLanguage();
                lang = (lang == 'Arabic') ? 'ar' : 'en';

                getEvents(lang, 10, function (data) {
                    events = JSON.parse(data);

                    if (events.nodes.length > 0) {
                        nodes = [];
                        events.nodes.forEach(element => {
                            element.node.EventType = element.node['Event type'];
                            nodes.push(element);
                        });
                    

                        self.$setState({
                            items: nodes,
                            loaded: true
                        });
                        app.lazy.create($$('.page.page-current'));

                        adjustLangLayout();
                    } else {
                        self.$setState({
                            loaded: true
                        });
                    }

                })


            },
        },
    };
</script>