<div class="page no-toolbar" data-name="forgot">
    <div class="page-content login-header">

        <div class="login-form">

            <form class="list" id="login-form">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-media">
                            <i class="bv icon-profile-username"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <input type="text" name="loginUsername" id="loginUsername" placeholder="Username">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
               

                </ul>

                <p class="">
                    <a href="/login/" class="mlink forgetpwd"> Back to Login </a>
                    <p class="text-align-center">
                        <input type="button" class="rndbtn" value="Recover" id="recoverbtn">
                    </p>

            </form>

        </div>
    </div>
</div>