     
    
                    <!-- Page, data-name contains page name which can be used in page callbacks -->
                    <div class="page text" data-name="home">
                        <!-- Top Navbar -->
                        <div class="navbar">
                            <div class="navbar-inner">
    
                                <div class="left Ara">
                                    <button onclick="changeLanguage()" id="lang-btn2" class="col button button-fill color-gray lang-btn">En</button>
                                </div>
                                <div class="left Eng">
                                    <a href="#" class="link icon-only panel-open" data-panel="left">
                                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                                        <span class="twig-16 iicon-firefox"></span>
                                    </a>
                                </div>
    
                                <div class="title"> </div>
                                <div class="right Eng">
                                    <button onclick="changeLanguage()" id="lang-btn1" class="col button button-fill color-gray lang-btn">En</button>
                                </div>
    
                                <div class="right Ara">
                                    <a href="#" class="link icon-only panel-open" data-panel="right">
                                        <!-- <span class="kkicon icon-menu"></span> -->
                                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                                        <span class="twig-16 iicon-firefox"></span>
                                    </a>
                                </div>
    
                            </div>
                        </div>
    
                        <!-- Scrollable page content-->
                        <div class="page-content homebg">
                            <div class="spacer">
    
                                <div class="row icon-row">
    
                                    <div class="col-33">
                                        <a href="/services/"  data-animate="false"  class="animated fadeInLeft">
                                            <div class="homeicons">
                                                <img class="bvicon" src="./assets/img/new-icon/services-01.svg"></img>
                                            </div>
                                            <span id="home-services" class="Eng">Services</span>
                                            <span id="home-communication" class="Ara">الخدمات</span>
                                        </a>
                                    </div>
    
                                    <div class="col-33">
                                        <a href="/sectors/"  class="animated fadeIn">
                                            <div class="homeicons">
                                                <img class="bvicon" style="width: 38px; margin-left: 2.5px; padding-bottom: 18%;" src="./assets/img/new-icon/sections.svg"></img>
                                            </div>
                                            <span id="home-sections" class="Eng">Sectors</span>
                                            <span id="home-communication" class="Ara">قطاعات الوزارة</span>
                                        </a>
    
                                    </div>
    
                                    <div class="col-33">
                                        <a href="/about-us/"   data-animate="false"  class="animated fadeInRight" >
                                            <div class="homeicons">
                                                <img class="bvicon" src="./assets/img/new-icon/about-us-01.svg"></img>
                                            </div>
                                            <span id="home-aboutus" class="Eng">Ministry Message</span>
                                            <span id="home-communication" class="Ara">رسالة الوزارة</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="row icon-row">
                                    <div class="col-33">
                                        <a href="/events/"  data-animate="false"  class="animated fadeInLeft" >
                                            <div class="homeicons">
                                                <img class="bvicon" style="width:39px; margin-left:3.5px;" src="./assets/img/new-icon/events-01.svg"></img>
                                            </div>
                                            <span id="home-events" class="Eng">Events</span>
                                            <span id="home-communication" class="Ara">الفعاليات</span>
                                        </a>
                                    </div>
                                    <div class="col-33">
                                        <a href="/videos/"  data-animate="false"  class="animated fadeIn" >
                                            <div class="homeicons">
                                                <img class="bvicon" style="width:39px; margin-left:3px; padding-bottom: 16%;" src="./assets/img/new-icon/communication-01.svg"></img>
                                            </div>
                                            <span id="home-events" class="Eng">Videos</span>
                                            <span id="home-communication" class="Ara">الفيديو</span>
                                        </a>
                                    </div>
    
                                    <div class="col-33">
                                        <a href="/news/"  data-animate="false"  class="animated fadeInRight" >
                                            <div class="homeicons">
                                                <img class="bvicon" style="width: 36px; vertical-align: super; margin-top: 10px;" src="./assets/img/new-icon/News.svg"></img>
                                            </div>
                                            <span id="home-news" class="Eng"> News</span>
                                            <span id="home-news" class="Ara"> الأخبار</span>
                                        </a>
    
                                    </div>
                                </div>
    
                                <div class="row icon-row">
                                    <!-- <div class="col-33">
                                        <a href="/contact/">
                                            <div class="homeicons">
                                                <img class="bvicon" src="./assets/img/new-icon/contact-us-01.svg"></img>
                                            </div>
                                            <span id="home-contactus" class="Eng">Contact Us</span>
                                            <span id="home-communication" class="Ara">اتصل بنا</span>
                                        </a>
                                    </div> -->
                                    <div class="col-33">
                                        <a href="/tenders/"  data-animate="false"   class="animated   fadeInLeft" >
                                            <div class="homeicons">
                                                <img class="bvicon" style="width: 38px; margin-left: 3px; padding-bottom: 18%;" src="./assets/img/new-icon/sections.svg"></img>
                                            </div>
                                            <span id="home-sections" class="Eng">Tenders</span>
                                            <span id="home-communication" class="Ara">المناقصات</span>
                                        </a>
    
                                    </div>
                                    <!-- <div class="col-50">
                                        <a class="link sheet-open" href="#" data-sheet=".my-sheet">
                                            <div class="homeicons">
                                                <img class="bvicon" src="./assets/img/new-icon/communication-01.svg"></img>
                                            </div>
                                            <span id="home-communication" class="Eng">Social Media</span>
                                            <span id="home-communication" class="Ara">وسائل التواصل الاجتماعي</span>
                                        </a>
                                    </div> -->
                                    <!-- <div class="col-33">
                                        <a onclick="loginFromMainMenu()">
                                            <div class="homeicons">
                                                <img class="bvicon" src="./assets/img/new-icon/login-01.svg"></img>
                                            </div>
                                            <span id="home-login" class="Eng">Login</span>
                                            <span id="home-communication" class="Ara">الدخول</span>
    
                                        </a>
                                    </div> -->
    
    
                                </div>
    
    
    
    
                                <!-- <div class="row icon-row">
                                    <div class="col-50">
                                        <a href="">
                                            <div class="homeicons">
                                                <img class="bvicon" src="./assets/img/new-icon/Request-01.svg"></img>
                                            </div>
                                            <span id="home-requestlist">Request List</span>
                                        </a>
                                    </div>
                                    <div class="col-50">
                                        <a href="">
                                            <div class="homeicons">
                                                <img class="bvicon" src="./assets/img/new-icon/my-vessels-01.svg"></img>
                                            </div>
                                            <span id="home-myvessels">My Vessels</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="row icon-row">
                                    <div class="col-50">
                                        <a href="">
                                            <div class="homeicons">
                                                <img class="bvicon" src="./assets/img/new-icon/task-list-01.svg"></img>
                                            </div>
                                            <span id="home-tasklist">Task List</span>
                                        </a>
                                    </div>
                                    <div class="col-50">
                                        <a href="">
                                            <div class="homeicons">
                                                <img class="bvicon" src="./assets/img/new-icon/my-details-01.svg"></img>
                                            </div>
                                            <span id="home-mydetails">My Details</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="row icon-row">
                                    <div class="col-100">
                                        <a href="">
                                            <div class="homeicons">
                                                <img class="bvicon" src="./assets/img/new-icon/certificatesList-01.svg"></img>
                                            </div>
                                            <span id="home-certificateslist">Certificates List</span>
                                        </a>
                                    </div>
    
                                </div> -->
                            </div>
                        </div>
                    </div>
    
                    <div class="sheet-modal my-sheet text">
                        <div class="toolbar">
                            <div class="toolbar-inner">
                                <div class="left"></div>
                                <div class="right"><a class="link sheet-close" href="#">
                                    <span class="Ara">اغلاق</span><span class="Eng">Close</span></a></div>
                            </div>
                        </div>
                        <div class="sheet-modal-inner">
                            <div class="block">
                                <div class="content-block mt-15 mb-10">
                                    <h3 class="Eng">MOTC Social Media Channels</h3>
                                    <h3 class="Ara">قنوات التواصل الاجتماعي للوزارة</h3>
                                    <!-- <p>Duis ac nibh ac quam quam sagittis tortor. Cum sociis natoque penatibus et neque.</p> -->
    
                                    <div class="social-buttons">
                                        <a href="" onclick="openSocialMedia('facebook')"><i class="fa fa-facebook-square"></i></a>
                                        <a href="" onclick="openSocialMedia('linkedin')"><i class="fa fa-linkedin-square"></i></a>
                                        <a href="" onclick="openSocialMedia('instagram')"><i class="fa fa-instagram"></i></a>
                                        <a href="" onclick="openSocialMedia('twitter')"><i class="fa fa-twitter-square"></i></a>
                                        <a href="" onclick="openSocialMedia('youtube')"><i class="fa fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
 