<div class="page no-toolbar login" data-name="login">

  <div class="page-content login-header">

    <img class="back-icon-login" onclick="goBack()" src="./icons/back.svg" alt="">
    <img src="assets/img/logo-login.png" class="logo">

    <div class="login-form text">

      <form class="list" id="login-form">
        <div class="list-block">
          <form class="login-form___wrapper">
            <ul>
              <li>
                <div class="item-inner">
                  <!-- <div class="item-input">
                        <input type="text" class="question" required name="loginUsername" id="loginUsername">
                        <label for="loginUsername">
                              <span>
                                  <img src="assets/img/new-icon/username-02.svg">
                                  <span class="login-label">Name</span></span>
                            </label>
                      </div> -->
                  <div class="form-group">
                    <input type="text" name="loginUsername" id="loginUsername" value="shebkhan@yahoo.ie" class="form-control" required>
                    <label class="form-control-placeholder" for="loginUsername">
                            <span class="label-icon label-icon-user" src=""></span> 
                            <span id="username" class="label-text Eng">Username</span>
                            <span id="username" class="label-text Ara">اسم المستخدم</span>
                          </label>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="passowrd-ul">
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <!-- <div class="item-input">
                          <input type="password" class="question" required name="loginPassword" id="loginPassword">
                          <label for="loginPassword">
                              <span>
                                  <img class="pass-logo" src="assets/img/new-icon/password-02.svg">  
                                  <span class="login-label">Password</span></span>
                            </label>
                        </div> -->
                    <div class="form-group">
                      <input type="password" name="loginPassword" id="loginPassword" value="Admin2009" class="form-control" required>
                      <label style="padding-left: 2px;" class="form-control-placeholder" for="loginPassword">
                                <span style="width: 16px;" class="label-icon label-icon-password"></span> 
                                <span id="password" class="label-text Eng">Password</span>
                                <span id="password" class="label-text Ara">كلمة المرور</span>
                              </label>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </form>

          <!-- <p class=""> -->
          <!-- <a href="" id="forget-pass" class="mlink forgetpwd"> Forgot Password ? </a> -->
          <p class="text-align-center">
            <input type="button" class="rndbtn Eng" value="LOG IN" id="loginbtn" onclick="login()">
            <input type="button" class="rndbtn Ara" value="تسجيل الدخول" id="loginbtn" onclick="login()">
          </p>
          <!-- <iframe  name="payment-iframe" src="pages/maritime.html" style="height: 300px; width: 100%;"></iframe>
               -->

          <!-- <form action="https://stgepayment.www.gov.qa/eGovPaymentWeb/SendPaymentAction" id="form1" target="payment-iframe" method="post">
                
                            <input type="text" name="transactionId" value="" id="transactionId">
                            <input type="hidden" name="amount" value="500">
                            <input type="hidden" name="serviceId" value="75001">
                            <input type="hidden" name="confirmationURL" value="http://www.google.com">
                            <input type="hidden" name="eservice" value="75">
                            <input type="hidden" name="user" value="">
                            <input type="hidden" name="appno" value="">
                            <input type="text" name="hash" value="" id="hash">
                
                            <input type="submit">
                        </form>
 -->


          <!-- <div class="footer">
                <div id="arabic-container" onclick="changeLanguage('Ara')">
                    <i class="fa fa-angle-left"></i>
                    <span>العربية</span>
                </div>
                <div id="english-container" onclick="changeLanguage('Eng')" class="theme-red-color">
                  <span>English</span>
                  <i class="fa fa-angle-right"></i>
                </div>
              </div> -->

        </div>
    </div>
  </div>
  </form>
</div>