<div class="page my-requests" data-name="maritime-services">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left Ara">
                <a href="" class="link back">
                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                    </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                        <span class="twig-16 iicon-firefox"></span>
                    </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back">
                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                    </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content derating-certificate-form  homebg">



        <div class="spacer">





            <div class="row icon-row">
                <div class="col-50">
                    <a onclick="goToLogin()" class="animated fadeInLeft">
                    <!-- <a href="/home-bgv/"> -->
                        <div class="homeicons">
                            <img class="bvicon" src="./assets/img/new-icon/my-vessels-01.svg"></img>
                        </div>
                        <span id="home-bigvessels" class="Eng"> BIG Vessels</span>
                        <span id="home-bigvessels" class="Ara"> السفن الكبيرة</span>
                    </a>
                </div>

                <div class="col-50">
                    <a href=""  class="animated fadeInRight">
                        <div class="homeicons"> 
                            <img class="bvicon" src="./assets/img/new-icon/services-01.svg"></img>
                        </div>
                        <span id="home-services" class="Eng">Small Craft</span>
                        <span id="home-bigvessels" class="Ara"> السفن الصغيرة</span>
                    </a>
                </div>



            </div>
        </div>
    </div>