<template>
    <div class="page" data-name="news">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left Ara">
                    <a href="" class="link back">
                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                    </a>
                </div>
                <div class="left Eng">
                    <a href="#" class="link icon-only panel-open" data-panel="left">
                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                        <span class="twig-16 iicon-firefox"></span>
                    </a>
                </div>
                <div class="title"> </div>
                <div class="right Eng">
                    <a href="" class="link back">
                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                    </a>
                </div>
                <div class="right Ara">
                    <a href="#" class="link icon-only panel-open" data-panel="right">
                        <!-- <span class="kkicon icon-menu"></span> -->
                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                        <span class="twig-16 iicon-firefox"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="page-content derating-certificate-form news-content">
            <div class="divider text">
                <i class="bv icon-certificate-list list-header-icon"></i>
                <span class="Eng">News</span>
                <span class="Ara">الأخبار</span>
            </div>


            <div class="list-block mt-0 blog-box">
                {{#if loaded}}
                {{#if items}}
                <ul class="news">
                    {{#each items}}
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <div class="item-content no-padding">
                                <div class="item-inner blog-list">
                                    <div class="image">
                                        <img data-src="{{node.Image}}" alt="" class="blockedimage lazy lazy-fade-in" />
                                    </div>
                                    <div class="text" onclick="handleReadMoreNews(this)">
                                        <h4 class="title mt-5 mb-0">
                                            <a>{{node.title}}</a></h4>
                                        <small>{{node.Created}}</small>
                                        <p class="news-body">{{node.Body}}</p>
                                        <a class="readmore-btn Eng" onclick="readmore()">Read more</a>
                                        <a class="readmore-btn Ara" onclick="readmore()">تفاصيل الخبر</a>
                                        <div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                    {{/each}}
                    <p class="text-align-center">
                        <input type="button" class="rndbtn Eng" value="More News" id="loginbtn" onclick="loadNewsFromWeb()">
                        <input type="button" class="rndbtn Ara" value="المزيد من الأخبار" id="loginbtn" onclick="loadNewsFromWeb()">
                    </p>
                </ul>
                {{else}}
                <p class="text-align-center dataErr">No Data found</p>

                {{/if}}
                {{/if}}

            </div>




        </div>
    </div>

</template>
<script>
    return {
        data: function () {
            return {
                loaded: false
            }
        },
        on: {
            pageInit: function () {
                setLanguage();
                var self = this;
                var app = self.$app;




                lang = getLanguage();
                lang = (lang == 'Arabic') ? 'ar' : 'en';

                getNews(lang, 10, function (data) {
                    news = JSON.parse(data);

                    if (news.nodes.length > 0) {
                        self.$setState({
                            items: news.nodes,
                            loaded: true
                        });
                        app.lazy.create($$('.page.page-current'));

                        adjustLangLayout();
                    } else {
                        self.$setState({
                            loaded: true
                        });
                    }

                })


            },
        },
    };
</script>