    <div  class="page" data-name="notification">
                    <!-- Top Navbar -->
                    <div class="navbar">
                        <div class="navbar-inner">


                            <div class="left Ara">
                                <!-- <button onclick="changeLanguage()" id="lang-btn2" class="col button button-fill color-gray lang-btn">En</button> -->
                            </div>
                            <div class="left Eng">
                                <a href="#" class="link icon-only panel-open" data-panel="left">
                                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                                    <span class="twig-16 iicon-firefox"></span>
                                </a>
                            </div>

                            <div class="title"> </div>
                            <div class="right Eng">
                                <!-- <button onclick="changeLanguage()" id="lang-btn1" class="col button button-fill color-gray lang-btn">En</button> -->
                            </div>

                            <div class="right Ara">
                                <a href="#" class="link icon-only panel-open" data-panel="right">
                                    <!-- <span class="kkicon icon-menu"></span> -->
                                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                                    <span class="twig-16 iicon-firefox"></span>
                                </a>
                            </div>


                        </div>
                    </div>

                    <!-- Scrollable page content-->
                    <div class="page-content homebg profile text">


 

                    </div>
                </div>
