<div class="page no-toolbar login" data-name="otp">

    <div class="page-content login-header">
        <img class="back-icon-login" onclick="goBack()" src="./icons/back.svg" alt="">

        <img src="assets/img/logo-login.png" class="logo">

        <div class="login-form">

            <form class="list login-otp text" id="login-form">

                <p class="Eng">Please enter the OTP(One Time Password) sent to your registered mobile)</p>
                <p class="Ara">يرجى إدخال كلمة المرور لمرة واحدة (OTP) المرسلة إلى هاتفك المحمول المسجل</p>

                <p class="Eng">This OTP will expire in 5 minutes.</p>
                <p class="Ara">تنتهي صلاحية كلمة المرور هذه خلال 5 دقائق.</p>
                <div class="list-block">
                    <form class="login-form___wrapper">
                        <ul>
                            <li>
                                <div class="item-inner">
                                    <!-- <div class="item-input">
                        <input type="text" class="question" required name="loginUsername" id="loginUsername">
                        <label for="loginUsername">
                              <span>
                                  <img src="assets/img/new-icon/username-02.svg">
                                  <span class="login-label">Name</span></span>
                            </label>
                      </div> -->



                                    <div class="form-group otp-form-group">
                                        <input type="tel" name="loginUsername" id="loginOTP" class="form-control" required>
                                        <label class="form-control-placeholder" for="loginUsername">
                            <span class="label-icon label-icon-user" src=""></span> 
                            <span id="username" class="label-text Eng">OTP</span>
                            <span id="username" class="label-text Ara">كلمة المرور لمرة واحدة</span>
                          </label>
                                    </div>
                                </div>
                            </li>
                        </ul>


                    </form>

                    <!-- <p class=""> -->
                    <p class="text-align-center">
                        <!-- <input type="button" class="rndbtn Eng" value="SEND" id="loginbtn" onclick="OTP()"> -->
                        <input type="button" class="rndbtn Eng" value="SEND" id="loginbtn" onclick="OTP()">
                        <input type="button" class="rndbtn Ara" value="إرسال" id="loginbtn" onclick="OTP()">
                    </p>

                    <!-- <div class="footer">
                <div id="arabic-container" onclick="changeLanguage('Ara')">
                    <i class="fa fa-angle-left"></i>
                    <span>العربية</span>
                </div>
                <div id="english-container" onclick="changeLanguage('Eng')" class="theme-red-color">
                  <span>English</span>
                  <i class="fa fa-angle-right"></i>
                </div>
              </div> -->

                </div>
        </div>
    </div>
    </form>
</div>