    <div  class="page" data-name="profile">
                    <!-- Top Navbar -->
                    <div class="navbar">
                        <div class="navbar-inner">


                            <div class="left Ara">
                                <!-- <button onclick="changeLanguage()" id="lang-btn2" class="col button button-fill color-gray lang-btn">En</button> -->
                            </div>
                            <div class="left Eng">
                                <a href="#" class="link icon-only panel-open" data-panel="left">
                                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                                    <span class="twig-16 iicon-firefox"></span>
                                </a>
                            </div>

                            <div class="title"> </div>
                            <div class="right Eng">
                                <!-- <button onclick="changeLanguage()" id="lang-btn1" class="col button button-fill color-gray lang-btn">En</button> -->
                            </div>

                            <div class="right Ara">
                                <a href="#" class="link icon-only panel-open" data-panel="right">
                                    <!-- <span class="kkicon icon-menu"></span> -->
                                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                                    <span class="twig-16 iicon-firefox"></span>
                                </a>
                            </div>


                        </div>
                    </div>

                    <!-- Scrollable page content-->
                    <div class="page-content homebg profile text">


                        <div id="profilenotLoggedIn">
                            <div class="profile-upper">
                                <div class="row">
                                    <div class="col-100">
                                        <div class="avatar-circle">
                                            <img src="assets/img/profile/avatar.jpg">
                                        </div>
                                        <!-- <div class="avatar-edit-circle">
                                        <img style="width:17px;" src="assets/img/profile/edit-white-01.svg" class="list-icon">
                                    </div> -->

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-100">
                                        <div id="profile-welcome" class="welcome Eng">Welcome</div>
                                        <div id="profile-welcome" class="welcome Ara">مرحبًا بك</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-100">
                                        <div class="color-red title-name" id="profile_fullname"> </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-33 list-box">
                                    <div class="circle profile-class" id="request-count">0</div>
                                    <span id="profile-requestlist" class="Eng">Request List</span>
                                    <span id="profile-requestlist" class="Ara">قائمة الطلبات</span>
                                </div>
                                <div class="col-33 list-box">
                                    <div class="circle profile-class" id="task-count">0</div>
                                    <span id="profile-tasklist" class="Eng">Task List</span>
                                    <span id="profile-tasklist" class="Ara">قائمة المهام</span>
                                </div>
                                <div class="col-33 list-box">
                                    <div class="circle profile-class" id="vessel-count">0</div>
                                    <span id="profile-myvessels" class="Eng">My Vessels</span>
                                    <span id="profile-myvessels" class="Ara">السفن الخاصة بي</span>
                                </div>
                            </div>

                            <div class="list-block" id="profile-main-content">
                                <ul>
                                    <li class="item-content" id="content-1">
                                        <div class="item-media profile-ar">
                                            <img src="assets/img/profile/name-01.svg" class="list-icon">
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title" id="profile_name">-</div>
                                        </div>
                                        <!-- <div class="item-media">
                                        <img style="width:21px;" src="assets/img/profile/edit-black-01.svg" class="list-icon">
                                    </div> -->
                                    </li>


                                    <li class="item-content" id="content-2">
                                        <div class="item-media profile-ar">
                                            <img style="width:19px;" src="assets/img/profile/email-01.svg" class="list-icon">
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title" id="profile_email">-</div>
                                        </div>
                                        <!-- <div class="item-media">
                                        <img style="width:21px;" src="assets/img/profile/edit-black-01.svg" class="list-icon">
                                    </div> -->
                                    </li>
                                    <li class="item-content" id="content-3">
                                        <div class="item-media profile-ar">
                                            <img src="assets/img/profile/contact-01.svg" class="list-icon">
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title" id="profile_number">-</div>
                                        </div>
                                        <!-- <div class="item-media">
                                        <img style="width:21px;" src="assets/img/profile/edit-black-01.svg" class="list-icon">
                                    </div> -->
                                    </li>
                                    <li class="item-content" id="content-4">
                                        <div class="item-media profile-ar">
                                            <img style="width:20px" src="assets/img/profile/language-01.svg" class="list-icon">
                                        </div>
                                        <div class="item-inner">
                                            <div id="profile-language" class="item-title Eng">English</div>
                                            <div id="profile-language" class="item-title Ara">الإنجليزية</div>
                                        </div>
                                        <div class="item-media">
                                            <label class="switch"><input type="checkbox" name="lang-switch" checked id="togBtn"
                                                    onchange="changeLanguage()">
                                                <div class="slider round"></div>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="item-content" id="content-5">
                                        <div class="item-media profile-ar">
                                            <img style="width:21px;" src="assets/img/profile/notification-01.svg" class="list-icon">
                                        </div>
                                        <div class="item-inner">
                                            <div id="profile-notification" class="item-title Eng">Notification</div>
                                            <div id="profile-notification" class="item-title Ara">التنبيهات</div>
                                        </div>
                                        <div class="item-media">
                                            <label class="switch"><input type="checkbox" name="not" id="togBtn2">
                                                <div class="slider round"></div>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <div style="height:50px; background: #fff;"></div>
                            </div>
                        </div>

                    </div>
                </div>
