<div class="page" data-name="sectors">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left Ara">
                <a href="" class="link back">
                                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                                    </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                                        <span class="twig-16 iicon-firefox"></span>
                                    </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back">
                                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                                    </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content derating-certificate-form text">
        <div class="divider">
            <i class="bv list-header-icon" style="
                
                background: url(./assets/img/new-icon/sections.svg) no-repeat;
                width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 7px;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 5px;
    "></i>
            <span class="Eng">Sectors</span>
            <span class="Ara">القطاعات</span></div>

        <div class="">
            <div class="cert-accordian">
                <div class="list accordion-list">

                    <ul>
                        <li class="accordion-item first-accordian">
                            <div class="list-item text">
                                <a href="#" class="item-content item-link">
                                    <div class="item-inner">
                                        <i class="bv icon-application-of-mortgage-registration licon"></i>
                                        <div class="item-title">
                                            <span class="Eng">Land Transport</span>
                                            <span class="Ara">شؤون النقل البري</span>
                                        </div>
                                        <i class="bv icon-arrow-down"></i>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="list-detail-block">
                                        <div class="row">
                                            <div class="col-100 Eng">
                                                Over the past few years, Qatar has witnessed rapid population growth together with strong economic growth. These developments
                                                have required further enhancements to the land transport infrastructure to
                                                support the expansion in the industrial, commercial and service sectors.
                                            </div>
                                            <div class="col-100 Ara">
                                                شهدت دولة قطر خلال السنوات القليلة الماضية نموًا سريعًا في تعداد السكان، مصحوبًا بتوسع اقتصادي قوي. وقد تطلب ذلك إدخال المزيد
                                                من التطورات والتحديثات على البنية التحتية لقطاع النقل البري لدعم القطاعات
                                                الاقتصادية والصناعية والخدمية المتنوعة.
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="accordion-item first-accordian">
                            <div class="list-item text">
                                <a href="#" class="item-content item-link">
                                    <div class="item-inner">
                                        <i class="bv icon-application-of-mortgage-registration licon"></i>
                                        <div class="item-title">
                                            <span class="Eng">Maritime Transport</span>
                                            <span class="Ara">شؤون النقل البحري</span>
                                        </div>
                                        <i class="bv icon-arrow-down"></i>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="list-detail-block">
                                        <div class="row">
                                            <div class="col-100 Eng">
                                                The Maritime Transport Sector is committed to developing and modernizing the sector in line with MOTC strategic plans aiming
                                                at ensuring a safe maritime navigation that meets all safety requirements
                                                and obligations, and keeping pace with international maritime developments
                                                through creative and effective application of international maritime instruments
                                                and observation of emerging trends and latest publications. The Maritime
                                                Transport Sector is also working on developing the legal framework for maritime
                                                activities, and enhancing the technical and administrative aspects of inspection,
                                                examination, control and investigation related to accidents.
                                            </div>
                                            <div class="col-100 Ara">
                                                يسعى قطاع النقل البحري بوزارة المواصلات والاتصالات إلى تحديث وتطوير قطاع النقل البحري بما يواكب التطورات البحرية الدولية
                                                المتسارعة من خلال التطبيق الخلاق للمواثيق البحرية الدولية ومتابعة ما يُستجد
                                                منها، وذلك في إطار الخطة الاستراتيجية للوزارة التي تهدف إلى ضمان ملاحة بحرية
                                                آمنة وتتوفر لها جميع شروط السلامة البحرية. فضلًا عن ذلك، يعمل قطاع النقل
                                                البحري على تطوير الإطار القانوني المنظم للأعمال البحرية، وتعزيز العمل الفني
                                                والإداري في مجالات التفتيش والمعاينة والرقابة والتحقيق في الحوادث، وغيرها.
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="accordion-item first-accordian">
                            <div class="list-item text">
                                <a href="#" class="item-content item-link">
                                    <div class="item-inner">
                                        <i class="bv icon-application-of-mortgage-registration licon"></i>
                                        <div class="item-title">
                                            <span class="Eng">Information Technology</span>
                                            <span class="Ara">شؤون تكنولوجيا المعلومات</span>
                                        </div>
                                        <i class="bv icon-arrow-down"></i>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="list-detail-block">
                                        <div class="row">
                                            <div class="col-100 Eng">
                                                The Ministry of Transport and Communications endeavors to build a vibrant ICT sector that will spur the development of an
                                                advanced knowledge economy and a prosperous future for its people. To serve
                                                that purpose, the Ministry attaches particular importance to digital government
                                                and cyber security initiatives.
                                            </div>
                                            <div class="col-100 Ara">
                                                تسعى وزارة المواصلات والاتصالات إلى بناء قطاع نشط وحيوي وآمن يسهم في تعزيز اقتصاد وطني متنوع يعود بالنفع على جميع شرائح المجتمع
                                                القطري، وذلك عبر تعزيز مبادرات الحكومة الرقمية والأمن السيبراني.
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="accordion-item first-accordian">
                            <div class="list-item text">
                                <a href="#" class="item-content item-link">
                                    <div class="item-inner">
                                        <i class="bv icon-application-of-mortgage-registration licon"></i>
                                        <div class="item-title">
                                            <span class="Eng">Digital Society</span>
                                            <span class="Ara">شؤون المجتمع الرقمي</span>
                                        </div>
                                        <i class="bv icon-arrow-down"></i>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="list-detail-block">
                                        <div class="row">
                                            <div class="col-100 Eng">
                                                The Communications Sector informs, inspires and supports all people in Qatar to gain the skills, knowledge and understanding
                                                they need to use ICT effectively and safely so that they can engage in the
                                                country’s economic and cultural life and to support the development of a
                                                vibrant and capable ICT vocational and professional workforce in Qatar. We
                                                are keen on enhancing ICT readiness and usage of all members of society and
                                                businesses so that everyone can participate in building Qatar’s information-based
                                                economy.
                                            </div>
                                            <div class="col-100 Ara">
                                                يسعى قطاع الاتصالات وتكنولوجيا المعلومات إلى تعزيز الثقافة والمهارات الرقمية بين جميع شرائح المجتمع القطري بهدف تمكينهم من
                                                الإسهام في الحياة الاقتصادية والثقافية لدولة قطر من خلال الاستخدام الفعال
                                                والآمن لتكنولوجيا المعلومات والاتصالات، وبما يدعم توفير قوى عاملة مؤهلة في
                                                سوق العمل القطري. وانطلاقًا من هذا الهدف، تلتزم الوزارة بخلق مجتمعٍ رقميٍ
                                                متكاملٍ يتمتع جميع أفراده بفرصٍ متساويةٍ للنفاذ إلى التكنولوجيا من خلال خلق
                                                أكبر عددٍ ممكنٍ من الفرص لتعزيز جاهزية أفراد المجتمع الرقمية للمشاركة في
                                                بناء اقتصاد قائم على المعرفة.
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>