<div class="page my-requests text" data-name="services">
    <div class="navbar">
        <div class="navbar-inner">

            <div class="left Ara">
                <a href="" class="link back"  onclick="setLanguage()" data-animate="false" >
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>

            
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back" onclick="setLanguage()" data-animate="false">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>



            <!-- <div class="left">

            </div>
            <div class="title"> </div>
            <div class="right">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div> -->
        </div>
    </div>
    <div class="page-content derating-certificate-form  homebg">



        <div class="spacer">

            <div class="row icon-row">
                <div class="col-33">
                    <a href="/maritime-services/"  data-animate="false"   class="animated fadeInLeft" >
                        <div class="homeicons">
                            <img class="bvicon" style="padding-left: 4px;" src="./assets/img/new-icon/my-vessels-01.svg"></img>
                        </div>
                        <span id="home-bigvessels" class="Eng"> Maritime Transport</span>
                        <span id="home-bigvessels" class="Ara"> شؤون النقل البحري</span>
                    </a>
                </div>

                <div class="col-33">
                    <a  class="animated fadeIn" >
                        <div class="homeicons">
                            <img class="bvicon" style="width: 38px;  padding-bottom: 18%; margin-left: 3px;" src="./assets/img/new-icon/sections.svg"></img>
                        </div>
                        <span id="home-services" class="Eng">Land Transport</span>
                        <span id="home-bigvessels" class="Ara"> شؤون النقل البري</span>
                    </a>
                </div>
                <div class="col-33">
                    <a  class="animated fadeInRight" >
                        <div class="homeicons">
                            <img class="bvicon" style="width: 38px;  padding-bottom: 18%; margin-left: 3px;" src="./assets/img/new-icon/sections.svg"></img>
                        </div>
                        <span id="home-sections" class="Eng">Information Technology</span>
                        <span id="home-bigvessels" class="Ara"> شؤون تكنولوجيا المعلومات</span>
                    </a>
                </div>
            </div>

            <div class="row icon-row">
                <div class="col-33">
                    <a  class="animated fadeInLeft" >
                        <div class="homeicons">
                            <img class="bvicon" style="width: 38px;  padding-bottom: 18%; margin-left: 3px;" src="./assets/img/new-icon/sections.svg"></img>
                        </div>
                        <span id="home-bigvessels" class="Eng">Digital Society</span>
                        <span id="home-bigvessels" class="Ara"> شؤون المجتمع الرقمي</span>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>