<template>
    <div class="page tenders-page" data-name="tenders">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left Ara">
                    <a href="" class="link back">
                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                    </a>
                </div>
                <div class="left Eng">
                    <a href="#" class="link icon-only panel-open" data-panel="left">
                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                        <span class="twig-16 iicon-firefox"></span>
                    </a>
                </div>
                <div class="title"> </div>
                <div class="right Eng">
                    <a href="" class="link back">
                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                    </a>
                </div>
                <div class="right Ara">
                    <a href="#" class="link icon-only panel-open" data-panel="right">
                        <!-- <span class="kkicon icon-menu"></span> -->
                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                        <span class="twig-16 iicon-firefox"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="page-content derating-certificate-form">
            <div class="divider text">
                <i class="bv icon-certificate-list list-header-icon"></i>
                <span class="Eng">Tenders</span>
                <span class="Ara">المناقصات</span>
            </div>


            <div class="cert-accordian">
                <div class="list accordion-list">
                    {{#if loaded}}
                    {{#if items}}
                    <ul class="tenders">

                        {{#each items}}
                        <li class="accordion-item first-accordian">
                            <div class="list-item text">
                                <a href="#" class="item-content item-link">
                                    <div class="item-inner">
                                        <i class="bv icon-application-of-mortgage-registration licon"></i>
                                        <div class="item-title">{{node.tender_num}}
                                            <br\>{{node.title}}</div>
                                        <i class="bv icon-arrow-down"></i>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="list-detail-block">
                                        <div class="row">
                                            <div class="col-40 Eng">Tender Name:</div>
                                            <div class="col-40 Ara">المناقصة:</div>
                                            <div class="col-60 color-red">{{node.title}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-40 Eng">Expiry Date:</div>
                                            <div class="col-40 Ara">تاريخ الانتهاء:</div>
                                            <div class="col-60 color-red">{{node.expiry_date}}</div>
                                        </div>
                                        <div class="row" id="row1">
                                            <div id="label1" class="col-40 Eng">Tender Submission Method: </div>
                                            <div id="label1" class="col-40 Ara">طريقة التقديم على المناقصة:</div>
                                            <div id="value1" class="col-60 color-red">{{node.tender_method}}</div>
                                        </div>
                                        <div class="row">
                                            <div id="label2" class="col-40 Eng">Tender Documents Fee: </div>
                                            <div id="label2" class="col-40 Ara">رسوم وثيقة المناقصة:</div>
                                            <div id="value2" class="col-60 color-red">{{node.tender_fee}}</div>
                                        </div>
                                        <div class="row">
                                            <div id="label3" class="col-40 Eng">Tender Bond Value: </div>
                                            <div id="label3" class="col-40 Ara">قيمة سند المناقصة:</div>
                                            <div id="value3" class="col-60 color-red">{{node.tender_value}}</div>
                                        </div>
                                        <div class="row">
                                            <div id="label4" class="col-40 Eng">Closing Date: </div>
                                            <div id="label4" class="col-40 Ara">الموعد النهائي:</div>
                                            <div id="value4" class="col-60 color-red">{{node.closing_date}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <p class="text-align-center dataErr">No Data found</p>

                    {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    return {
        data: function () {
            return {
                loaded: false
            }
        },
        on: {
            pageInit: function () {
                var self = this;
                var app = self.$app;
                setLanguage();

                lang = getLanguage();
                lang = (lang == 'Arabic') ? 'ar' : 'en';

                getTenders(lang, 10, function (data) {
                    let tenders = JSON.parse(data);
                    tenders.nodes.forEach(function (tender) {
                        tender.node.tender_num = tender.node['Tender #'];
                        tender.node.expiry_date = tender.node['Expiry Date'];
                        tender.node.tender_method = tender.node['Tender Submission Method'];
                        tender.node.tender_fee = tender.node['Tender Documents Fee'];
                        tender.node.tender_value = tender.node['Tender Bond Value'];
                        tender.node.closing_date = tender.node['Closing Date'];

                    });
                    if (tenders.nodes.length > 0) {
                        self.$setState({
                            items: tenders.nodes,
                            loaded: true
                        });
                        adjustLangLayout();
                    } else {
                        self.$setState({
                            loaded: true
                        });
                    }

                })


            },
        },
    };
</script>