<template>
    <div class="page my-requests" data-name="videos">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left Ara">
                    <a href="" class="link back">
                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                    </a>
                </div>
                <div class="left Eng">
                    <a href="#" class="link icon-only panel-open" data-panel="left">
                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                        <span class="twig-16 iicon-firefox"></span>
                    </a>
                </div>
                <div class="title"> </div>
                <div class="right Eng">
                    <a href="" class="link back">
                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                    </a>
                </div>
                <div class="right Ara">
                    <a href="#" class="link icon-only panel-open" data-panel="right">
                        <!-- <span class="kkicon icon-menu"></span> -->
                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                        <span class="twig-16 iicon-firefox"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="page-content derating-certificate-form">
            <div class="divider text">
                <i class="bv icon-certificate-list list-header-icon"></i>
                <span class="Eng">Videos</span>
                <span class="Ara">الفيديو</span>
            </div>



            <div class="videos">
                <div class="content-block">
                    {{#if items}}

                    {{#each items}}
                    <h3><i class="fa fa-youtube-play"></i> {{snippet.title}} </h3>
                    <div class=''><small>{{snippet.publishedAt}}</small></div>
                    <iframe width="100%" src="https://www.youtube.com/embed/{{id.videoId}}" frameborder="0" allowfullscreen></iframe>
                    {{/each}}
                    {{else}}
                    <p>                            No Videos 
                    </p>
                    {{/if}}

                </div>

            </div>




        </div>
    </div>
</template>

<script>
    return {
        data: function () {
            return {
                    }
        },
        on: {
            pageInit: function () {
                var self = this;
                var app = self.$app;

                $.get(
                    "https://www.googleapis.com/youtube/v3/search", {
                        part: 'snippet',
                        channelId: 'UCaCew7yEVHcd1gfkuQrEaLw ',
                        type: 'video',
                        maxResults: '10',
                        order: 'date',
                        key: 'AIzaSyDPQtcH_J1pmapyHKxPe0ktXFWXqz-K9qs'
                    },
                    function (data) {
                         if (data.items.length>0){
                            self.$setState({
                            items: data.items,
                        });
                        }
                  
                    })

            },
        },
    };
</script>