<div class="page" data-name="certificates">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left Ara">
        <a href="" class="link back">
                            <img class="side-menu-icon" src="./icons/back.svg" alt="">
                        </a>
      </div>
      <div class="left Eng">
        <a href="#" class="link icon-only panel-open" data-panel="left">
                            <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                            <span class="twig-16 iicon-firefox"></span>
                        </a>
      </div>
      <div class="title"> </div>
      <div class="right Eng">
        <a href="" class="link back">
                            <img class="side-menu-icon" src="./icons/back.svg" alt="">
                        </a>
      </div>
      <div class="right Ara">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <!-- <span class="kkicon icon-menu"></span> -->
          <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
          <span class="twig-16 iicon-firefox"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content derating-certificate-form">
    <div class="divider">
      <i class="bv icon-certificate-list list-header-icon"></i> Services</div>

    <div class="rbtn">

      <a href="" onclick="gotoVesselsList('Exemption Certificate')">
        <i class="bv icon-issuing-exemption-certificates licon"></i>
        <span> Exemption certificate </span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a href="" onclick="gotoVesselsList('Extension Certificate')">
        <i class="bv icon-issuing-a-certificate-of-authorization licon"></i>
        <span> Extension Certificate
          </span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a href="" onclick="gotoVesselsList('Lost Replacement')">
        <i class="bv icon-application-for-issue-the-certificate-of licon"></i>
        <span> Lost Replacement</span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a href="" onclick="gotoVesselsList('Ship Deletion')">
        <i class="bv icon-issuing-vessel-deletion-certificate licon"></i>
        <span> Ship Deletion</span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a href="" onclick="gotoVesselsList('Mortgage Registration')">
        <i class="bv icon-application-of-mortgage-registration licon"></i>
        <span> Mortgage Registration</span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a href="" onclick="gotoVesselsList('Certificate of Specification Amend')">
        <i class="bv icon-application-for-certificate-of-qatar-registry- licon"></i>
        <span> Certificate of Specification Amend </span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a href="" onclick="gotoVesselsList('Non Encumbrance')">
        <i class="bv icon-application-of-non-encumbrance licon"></i>
        <span>Non Encumbrance</span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a href="" onclick="gotoVesselsList('Derating Certificate')">
        <i class="bv icon-derating-certificate licon"></i>
        <span> Derating Certificate
          
          </span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a href="" onclick="gotoVesselsList('Transfer Ownership')">
        <i class="bv icon-application-of-ownership-transfer licon"></i>
        <span> Transfer Ownership </span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a onclick="gotoVesselsList('Certificate of Non Encumbrance')">
        <i class="bv icon-issuing-a-certificate-of-non-encumbrance licon"></i>
        <span> Certificate of Non Encumbrance</span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a href="" onclick="gotoVesselsList('Safety Insurance For Oil Pollution Damage')">
        <i class="bv icon-issuing-a-certificate-of-safety-insurance licon"></i>
        <span> Safety Insurance For Oil Pollution Damage </span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a href="" onclick="gotoVesselsList('Continuous Synopsis Record')">
        <i class="bv icon-issuing-continuous-synopsis-record licon"></i>
        <span> Continuous Synopsis Record
          
          </span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>



      <!-- <a href="/safe-manning-certificate/" onclick="checkEditMode(false)">
        <i class="bv icon-safe-manning-certificate licon"></i>
        <span> Safe Manning Certificate </span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a> -->

      <a href="" onclick="gotoVesselsList('Marine Incident')">
        <i class="bv icon-issuing-a-certificate-of-safety-insurance licon"></i>
        <span> Marine Incident</span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a href="" onclick="gotoVesselsList('NOL Request')">
        <i class="bv icon-issuing-nol-for-the-announcement-of- licon"></i>
        <span> NOL Request </span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

      <a href="" onclick="gotoVesselsList('To Whom It May Concern Certificate')">
        <i class="bv icon-issuing-a-certificate-to-whom-it licon"></i>
        <span> To Whom it May Concern Certificate </span>
        <i class="bv icon-right-arrow-01 ricon"></i>
      </a>

    </div>

  </div>
</div>