<div class="page" data-name="exemption-certificates">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left Ara">
                <a href="" class="link back">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="divider">
            <i class="bv icon-certificate-list"></i> Exemption Certificate </div>

        <div class="cert-accordian">

            <div class="txtContainer">

                <div class="row">
                    <div class="col-40">Service Name:</div>
                    <div class="col-60 color-red">Exemption Certificate</div>
                </div>
                <div class="row">
                    <div class="col-40">Fees:</div>
                    <div id="serviceFee" class="col-60 color-red">500</div>
                </div>
                <div class="row" id="request-status-container">
                    <div class="col-40">Status:</div>
                    <div id="request-status" class="col-60 color-red text-wrap"></div>
                </div>

                <div class="row" id="">
                        <div class="col-40">Vessel:</div>
                        <div class="col-60 color-red text-wrap vesselLink">    </div>
                </div>

            </div>


            <div class="list accordion-list">
                <ul>


                    <li class="accordion-item vessel_info" data-id="2" style="display:none">
                    </li>

                    <li class="accordion-item requestDetails" data-id="2"  >
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Request Details</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-100">Regulations from which Exemption is requested<span class="color-red">*</span>:</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">
                                            <i class="bv icon-text-area-01 textarea-icon"></i>
                                            <textarea id="Regulations" type="text" placeholder="">
                                                    </textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">Apply to be exempted from the requirements of<span class="color-red">*</span>:</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">
                                            <i class="bv icon-text-area-01 textarea-icon"></i>
                                            <textarea id="ExemptedRequirements" type="text" placeholder="">
                                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">Conferred by the regulation of<span class="color-red">*</span>:</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">
                                            <i class="bv icon-text-area-01 textarea-icon"></i>
                                            <textarea id="ConferredByRegulation" type="text" placeholder="">
                                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">Reasons Supporting the application<span class="color-red">*</span>:</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">
                                            <i class="bv icon-text-area-01 textarea-icon"></i>
                                            <textarea id="SupportingReasons" type="text" placeholder="">
                                                                </textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">Duration of Exemption requested:</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">
                                            <i class="bv icon-text-area-01 textarea-icon"></i>
                                            <textarea id="ExemptionDuration" type="text" placeholder="">
                                                                    </textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">Safety and other measures taken:</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">
                                            <i class="bv icon-text-area-01 textarea-icon"></i>
                                            <textarea id="OtherMeasures" type="text" placeholder="">
                                                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">Recognized organization (Classification Society)
                                            recommendations, if any:</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">
                                            <i class="bv icon-text-area-01 textarea-icon"></i>
                                            <textarea id="RegulaRecognizedOrganizationtions" type="text" placeholder="">
                                                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- 
                    <li class="accordion-item owner_details" data-id="2">
                    </li> -->

                    <!-- <li class="accordion-item" data-id="2">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Application Status</div>
                                    <i class="bv icon-down-arrow-01 icon-down-arrow"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Request Status:</div>
                                        <div class="col-60 color-red">
                                            <div class="dropdown">
                                                <select class="dropdown-select" placeholder="Please choose...">
                                                            <option value="Male">Approval</option>
                                                            <option value="Female">Rejection</option>
                                                            <option value="">Assigning an employee to review the application</option>
                                                            <option value="">Returning the request due to missing requirements</option>
                                                        </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Internal Comments:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="Comments">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Comments To Vessel Owner:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="Comments">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> -->

                    <!-- <li class="accordion-item" data-id="2">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Flag Inspector Employee Details</div>
                                    <i class="bv icon-down-arrow-01 icon-down-arrow"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Exemption issued under the provision of<span class="color-red">*</span>:</div>
                                        <div class="col-60 color-red">
                                            <textarea placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">This is to certify<span class="color-red">*</span>:</div>
                                        <div class="col-60 color-red">
                                            <textarea placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Conditions (if any):</div>
                                        <div class="col-60 color-red">
                                            <textarea></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Voyages (if any):</div>
                                        <div class="col-60 color-red">
                                            <textarea></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Notes:</div>
                                        <div class="col-60 color-red">
                                            <textarea></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Certificate Expiry<span class="color-red">*</span>:</div>
                                        <div class="col-60 color-red">
                                            <input type="datetime-local" placeholder="Please choose...">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Subject to:</div>
                                        <div class="col-60 color-red">
                                            <input class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li> -->


                    <li class="accordion-item">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-upload-document-01 licon"></i>
                                    <div class="item-title">Upload Documents</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Letter from Owner<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="exemption-attachment-letter" type="text" readonly>
                                                    <i id="exemption-attachment-letter-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('exemption-attachment-letter-delete', 'exemption-attachment-letter', 'exemption-attachment-input-letter', 'Letter from Owner')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('exemption-attachment-letter', 'exemption-attachment-input-letter', 'Letter From Owner')"
                                                        type="file" id="exemption-attachment-input-letter" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Class Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="exemption-attachment-class" type="text" readonly>
                                                    <i id="exemption-attachment-class-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('exemption-attachment-class-delete', 'exemption-attachment-class', 'exemption-attachment-input-class', 'Class Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('exemption-attachment-class', 'exemption-attachment-input-class', 'Class Certificate')"
                                                        type="file" id="exemption-attachment-input-class" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Subject Certificate:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="exemption-attachment-subject" type="text" readonly>
                                                    <i id="exemption-attachment-subject-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('exemption-attachment-subject-delete', 'exemption-attachment-subject', 'exemption-attachment-input-subject', 'Subject Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('exemption-attachment-subject', 'exemption-attachment-input-subject', 'Subject Certificate')"
                                                        type="file" id="exemption-attachment-input-subject" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                        <div class="col-40">Payment Receipt:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="exemption-attachment-payment" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('exemption-attachment-payment', 'exemption-attachment-input-payment', 'Payment Receipt')" type="file"
                                                        id="exemption-attachment-input-payment" />
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="accordion-item" data-id="2" id="comments-section">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Comments</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row" id="commentsToVesselOwnerContainer">
                                        <div class="col-40">Comments To Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsToVesselOwner"></div>
                                    </div>
                                    <div class="row" id="commentsFromVesselOwnerContainer">
                                        <div class="col-40">Comments From Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsFromVesselOwner"></div>
                                    </div>
                                    <div class="row" id="flagInspectorContainer">
                                        <div class="col-40">Flag Inspector Comments:</div>
                                        <div class="col-60 color-red" id="flagInspectorComments"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <p class="row cert-buttons">
            <!-- <button id="payment-btn" class="col button button-raised button-round button-submit">Pay</button> -->

            <button id="clear" class="col button button-raised button-round">Clear</button>
            <button id="submit-exemptions" class="col button button-raised button-round button-submit">Submit</button>
        </p>

        <p class="row cert-buttons" id="payment-btn">
            <button onclick="hukoomiPayment()" class="col button button-raised button-round button-submit">Pay</button>
        </p>

        <p class="row cert-buttons" id="cancel">
            <button id="cancel-exemption" class="col-100 button button-raised button-round button-submit">Cancel</button>
        </p>


    </div>
</div>

</div>