<div class="page" data-name="nol-certificate">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left Ara">
                <a href="" class="link back">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="divider">
            <i class="bv icon-certificate-list"></i> NOL Request </div>

        <div class="cert-accordian">


            <div class="txtContainer">
                <div class="row">
                    <div class="col-40">Service Name:</div>
                    <div class="col-60 color-red">NOL Request</div>
                </div>
                <div class="row">
                    <div class="col-40">Fees:</div>
                    <div id="serviceFee" class="col-60 color-red">500</div>
                </div>
                <div class="row" id="request-status-container">
                    <div class="col-40">Status:</div>
                    <div id="request-status" class="col-60 color-red text-wrap"></div>
                </div>

                <div class="row" id="">
                    <div class="col-40">Vessel:</div>
                    <div class="col-60 color-red text-wrap vesselLink"> </div>
                </div>

            </div>



            <div class="list accordion-list">
                <ul>
             
                    <li class="accordion-item vessel_info" data-id="2">
                    </li>

                    <li class="accordion-item">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-vessel’s-particulars-01 licon"></i>
                                    <div class="item-title">Coordinates</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Longitude<span class="color-red">*</span>:</div>
                                        <div class="col-60 color-red">
                                            <input id="Longitude" class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Latitude<span class="color-red">*</span>:</div>
                                        <div class="col-60 color-red">
                                            <input id="Latitude" class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="accordion-item">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Request Information</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-100">Name of Operation<span class="color-red">*</span>:</div>

                                    </div>
                                    <div class="row">
                                        <div class="col-40">Towing</div>
                                        <div class="col-10">
                                            <div class="checkbox-container">
                                                <div class="round">
                                                    <input onclick="selectNameOfOperation('1')" value='1' type="checkbox"
                                                        class="operationsCheckbox" id="towing" />
                                                    <label for="towing"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-40">Marine Shooting</div>
                                        <div class="col-10">
                                            <div class="checkbox-container">
                                                <div class="round">
                                                    <input onclick="selectNameOfOperation('2')" value='2' type="checkbox"
                                                        class="operationsCheckbox" id="marine-shooting" />
                                                    <label for="marine-shooting"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Exploration Drilling</div>
                                        <div class="col-10">
                                            <div class="checkbox-container">
                                                <div class="round">
                                                    <input onclick="selectNameOfOperation('3')" value='3' type="checkbox"
                                                        class="operationsCheckbox" id="exploration-drilling" />
                                                    <label for="exploration-drilling"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-40">Maritime survey</div>
                                        <div class="col-10">
                                            <div class="checkbox-container">
                                                <div class="round">
                                                    <input onclick="selectNameOfOperation('4')" value='4' type="checkbox"
                                                        class="operationsCheckbox" id="maritime-survey" />
                                                    <label for="maritime-survey"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Construction</div>
                                        <div class="col-10">
                                            <div class="checkbox-container">
                                                <div class="round">
                                                    <input onclick="selectNameOfOperation('5')" value='5' type="checkbox"
                                                        class="operationsCheckbox" id="construction" />
                                                    <label for="onstruction"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-40">Maintenance</div>
                                        <div class="col-10">
                                            <div class="checkbox-container">
                                                <div class="round">
                                                    <input onclick="selectNameOfOperation('6')" value='6' type="checkbox"
                                                        class="operationsCheckbox" id="maintenance" />
                                                    <label for="maintenance"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Wreckage Recovered</div>
                                        <div class="col-10">
                                            <div class="checkbox-container">
                                                <div class="round">
                                                    <input onclick="selectNameOfOperation('7')" value='7' type="checkbox"
                                                        class="operationsCheckbox" id="wreckage-recovered" />
                                                    <label for="wreckage-recovered"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-40">Diving</div>
                                        <div class="col-10">
                                            <div class="checkbox-container">
                                                <div class="round">
                                                    <input onclick="selectNameOfOperation('8')" value='8' type="checkbox"
                                                        class="operationsCheckbox" id="driving" />
                                                    <label for="driving"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Cable Lying</div>
                                        <div class="col-10">
                                            <div class="checkbox-container">
                                                <div class="round">
                                                    <input onclick="selectNameOfOperation('9')" value='9' type="checkbox"
                                                        class="operationsCheckbox" id="cable-lying" />
                                                    <label for="cable-lying"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-40">Cable Repair</div>
                                        <div class="col-10">
                                            <div class="checkbox-container">
                                                <div class="round">
                                                    <input onclick="selectNameOfOperation('10')" value='10' type="checkbox"
                                                        class="operationsCheckbox" id="cable-repair" />
                                                    <label for="cable-repair"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Other</div>
                                        <div class="col-10">
                                            <div class="checkbox-container">
                                                <div class="round">
                                                    <input onclick="selectNameOfOperation('11')" value='11' type="checkbox"
                                                        class="operationsCheckbox" id="other" />
                                                    <label for="other"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-50"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Operating Company<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input id="OperatingCompany" class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Commenced Date<span class="color-red">*</span>:</div>
                                        <div class="col-60 color-red">
                                            <input id="CommencedDate" onchange="setCommencedDate()" type="date"
                                                placeholder="Please choose...">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Completion Date<span class="color-red">*</span>:</div>
                                        <div class="col-60 color-red">
                                            <input id="CompletionDate" onchange="setCompletionDate()" type="date"
                                                placeholder="Please choose...">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Duration of Work:</div>
                                        <div id="duration-of-work" class="col-60 color-red">0256985</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Ship Agency<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input id="ShipAgency" class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">No. of Marine Crafts<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input id="NumOfMarineCrafts" class="text-input" type="number" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Requesting Party<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input id="RequestingParty" class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Person in Charge<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input id="PersonInCharge" class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Company Number<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input id="CompanyNumber" class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Mobile Number<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input id="Mobile" class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Email<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input id="Email" class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="accordion-item" data-id="2">

                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-vessel’s-particulars-01 licon"></i>
                                    <div class="item-title">Marine Craft Detail</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block" id="nationality-form">
                                    <div class="row">
                                        <div class="col-40">Name<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input id="marineCraftName" class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Nationality<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input id="marineCraftNationality" class="text-input" type="text"
                                                placeholder="">
                                        </div>
                                    </div>
                                    <!-- <p class="row cert-buttons">
                                                        <button class="col button button-raised button-round">Add Marine Craft Detail</button>
                                                    </p> -->
                                </div>

                                <p class="row cert-buttons" id="add-btn" style="padding-left: 30%;">
                                    <button id="" onclick="addNationality()" class="col-60 button button-raised button-round button-submit">Add</button>
                                </p>

                                <div class="marine-craft-details"></div>

                            </div>

                        </div>

                    </li>

                    <!-- <li class="accordion-item" data-id="2">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-vessel’s-particulars-01 licon"></i>
                                    <div class="item-title">Vessel Owner Particulars</div>
                                    <i class="bv icon-down-arrow-01 icon-down-arrow"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Requesting Party<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Person in Charge<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Company Number<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Mobile Number<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Email<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> -->

                    <li class="accordion-item owner_details" data-id="2">
                    </li>

                    <li class="accordion-item">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-upload-document-01 licon"></i>
                                    <div class="item-title">Upload Documents</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Official Letter<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="nol-attachment-letter" type="text" readonly>
                                                    <i id="nol-attachment-letter-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('nol-attachment-letter-delete', 'nol-attachment-letter', 'nol-attachment-input-letter', 'Official From Owner')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('nol-attachment-letter', 'nol-attachment-input-letter', 'Official From Owner')"
                                                        type="file" id="nol-attachment-input-letter" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Copy of Registry Certificates for Flag Vessels involved<span
                                                class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="nol-attachment-flag" type="text" readonly>
                                                    <i id="nol-attachment-flag-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('nol-attachment-flag-delete', 'nol-attachment-flag', 'nol-attachment-input-flag', 'Copy of Registry Certificates for Flag Vessels involved')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('nol-attachment-flag', 'nol-attachment-input-flag', 'Copy of Registry Certificates for Flag Vessels involved')"
                                                        type="file" id="nol-attachment-input-flag" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Copy of Work Permit for Foreign Vessels involves<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="nol-attachment-foreign" type="text" readonly>
                                                    <i id="nol-attachment-foreign-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('nol-attachment-foreign-delete', 'nol-attachment-foreign', 'nol-attachment-input-foreign', 'Copy of Work Permit for Foreign Vessels involves')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('nol-attachment-foreign', 'nol-attachment-input-foreign', 'Copy of Work Permit for Foreign Vessels involves')"
                                                        type="file" id="nol-attachment-input-foreign" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Copy of Navigational Chart for the Work Site<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="nol-attachment-navigational" type="text" readonly>
                                                    <i id="nol-attachment-navigational-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('nol-attachment-navigational-delete', 'nol-attachment-navigational', 'nol-attachment-input-navigational', 'Copy of Navigational Chart for the Work Site')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('nol-attachment-navigational', 'nol-attachment-input-navigational', 'Copy of Navigational Chart for the Work Site')"
                                                        type="file" id="nol-attachment-input-navigational" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Proposal for the Announcement in Arabic<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="nol-attachment-arabic" type="text" readonly>
                                                    <i id="nol-attachment-arabic-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('nol-attachment-arabic-delete', 'nol-attachment-arabic', 'nol-attachment-input-arabic', 'Proposal for the Announcement in Arabic')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('nol-attachment-arabic', 'nol-attachment-input-arabic', 'Proposal for the Announcement in Arabic')"
                                                        type="file" id="nol-attachment-input-arabic" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Proposal for the Announcement in English<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="nol-attachment-english" type="text" readonly>
                                                    <i id="nol-attachment-english-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('nol-attachment-english-delete', 'nol-attachment-english', 'nol-attachment-input-english', 'Proposal for the Announcement in English')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('nol-attachment-english', 'nol-attachment-input-english', 'Proposal for the Announcement in English')"
                                                        type="file" id="nol-attachment-input-english" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                        <div class="col-40">Payment Receipt:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="nol-attachment-payment" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('nol-attachment-payment', 'nol-attachment-input-payment', 'Payment Receipt')" type="file" id="nol-attachment-input-payment"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="accordion-item" data-id="2" id="comments-section">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Comments</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row" id="commentsToVesselOwnerContainer">
                                        <div class="col-40">Comments To Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsToVesselOwner"></div>
                                    </div>
                                    <div class="row" id="commentsFromVesselOwnerContainer">
                                        <div class="col-40">Comments From Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsFromVesselOwner"></div>
                                    </div>
                                    <div class="row" id="flagInspectorContainer">
                                        <div class="col-40">Flag Inspector Comments:</div>
                                        <div class="col-60 color-red" id="flagInspectorComments"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <p class="row cert-buttons">
            <!-- <button id="payment-btn" class="col button button-raised button-round button-submit">Pay</button> -->
            <button id="clear" class="col button button-raised button-round">Clear</button>
            <button id="submit-nol" class="col button button-raised button-round button-submit">Submit</button>
        </p>

        <p class="row cert-buttons" id="payment-btn">
            <button onclick="hukoomiPayment()" class="col button button-raised button-round button-submit">Pay</button>
        </p>

        <p class="row cert-buttons" id="cancel">
            <button id="cancel-nol" class="col-100 button button-raised button-round button-submit">Cancel</button>
        </p>


    </div>
</div>

</div>