<div class="page" data-name="extension-certificate">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left Ara">
                <a href="" class="link back">
                                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                                    </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                                        <span class="twig-16 iicon-firefox"></span>
                                    </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back">
                                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                                    </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="divider">
            <i class="bv icon-certificate-list"></i> Extension Certificate </div>

        <div class="cert-accordian">

                <div class="txtContainer">
                        <div class="row">
                                <div class="col-40">Service Name:</div>
                                <div class="col-60 color-red">Extension Certificate</div>
                            </div>
                            <div class="row">
                                <div class="col-40">Fees:</div>
                                <div id="serviceFee" class="col-60 color-red">500</div>
                            </div>
                            <div class="row" id="request-status-container">
                                <div class="col-40">Status:</div>
                                <div id="request-status" class="col-60 color-red text-wrap"></div>
                            </div>
                            <div class="row" id="">
                                    <div class="col-40">Vessel:</div>
                                    <div class="col-60 color-red text-wrap vesselLink">    </div>
                            </div>
                </div>
            <div class="list accordion-list">
                <ul>


                    <li class="accordion-item first-accordian">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-issuing-a-certificate-of-authorization licon"></i>
                                    <div class="item-title">Authorization/Relaxation/ <br/>Extension Particulars</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-100">Request Type:<span class="color-red">*</span>:</div>
                                    </div>
                                    <div class="row radio-checks">
                                        <div class="col-100">
                                            <label class="container">Authorization
                                                <input id="RequestType" name="RequestType" value="Authorization" checked="checked" type="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row radio-checks">
                                        <div class="col-100">
                                            <label class="container">Relaxation
                                                    <input name="RequestType" value="Relaxation" type="radio">
                                                    <span class="checkmark"></span>
                                                </label>
                                        </div>
                                    </div>
                                    <div class="row radio-checks">
                                        <div class="col-100">
                                            <label class="container">Extension
                                                    <input name="RequestType" value="Extension" type="radio">
                                                    <span class="checkmark"></span>
                                                </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">Regulations from which Relaxation/ Authorization/ Extension is requested:<span class="color-red">*</span>:</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">
                                            <i class="bv icon-text-area-01 textarea-icon"></i>
                                            <textarea id="Regulations" rows="2" type="text" placeholder="">
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">Safety and other Measures taken:</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">
                                            <i class="bv icon-text-area-01 textarea-icon"></i>
                                            <textarea id="OtherMeasures" rows="2" type="text" placeholder="">
                                                </textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">Expiration date of technical certificate affected the requested Relaxation/Authentication/Extension:</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-100">
                                            <i class="bv icon-text-area-01 textarea-icon"></i>
                                            <textarea id="AllRequestsExpiration" rows="2" type="text" placeholder="">
                                                    </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="accordion-item owner_details" data-id="2">
                    </li>

                    <!-- <li class="accordion-item">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Application Status</div>
                                    <i class="bv icon-down-arrow-01 icon-down-arrow"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Request Status:</div>
                                        <div class="col-60 color-red">
                                            <div class="dropdown">
                                                <select class="dropdown-select" placeholder="Please choose...">
                                                                <option value="Male">Approval</option>
                                                                <option value="Female">Rejection</option>
                                                                <option value="">Assigning an employee to review the application</option>
                                                                <option value="">Returning the request due to missing requirements</option>
                                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Internal Comments:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="Comments">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Comments to Vessel Owner:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="Comments">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> -->

                    <!-- <li class="accordion-item">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-vessel’s-particulars-01 licon"></i>
                                    <div class="item-title">Details by Flag Inspector <br/> Employee</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Issued under the provision of<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <textarea type="text" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">This is to certify<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <textarea type="text" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Conditions (if any):</div>
                                        <div class="col-60">
                                            <textarea type="text" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Voyages (if any):</div>
                                        <div class="col-60">
                                            <textarea type="text" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Notes:</div>
                                        <div class="col-60">
                                            <textarea type="text" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Certificate Expiry*<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <textarea type="text" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Subject to:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> -->

                    <li class="accordion-item" data-id="2" id="comments-section">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Comments</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row" id="commentsToVesselOwnerContainer">
                                        <div class="col-40">Comments To Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsToVesselOwner"></div>
                                    </div>
                                    <div class="row" id="commentsFromVesselOwnerContainer">
                                        <div class="col-40">Comments From Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsFromVesselOwner"></div>
                                    </div>
                                    <div class="row" id="flagInspectorContainer">
                                        <div class="col-40">Flag Inspector Comments:</div>
                                        <div class="col-60 color-red" id="flagInspectorComments"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="accordion-item">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-upload-document-01 licon"></i>
                                    <div class="item-title">Upload Documents</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Letter from Owner<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="authorization-attachment-letter" type="text" readonly>
                                                    <i id="authorization-attachment-letter-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('authorization-attachment-letter-delete', 'authorization-attachment-letter', 'authorization-attachment-input-letter', 'Letter from Owner')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('authorization-attachment-letter', 'authorization-attachment-input-letter', 'Letter From Owner')"
                                                        type="file" id="authorization-attachment-input-letter" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Class Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="authorization-attachment-class" type="text" readonly>
                                                    <i id="authorization-attachment-class-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('authorization-attachment-class-delete', 'authorization-attachment-class', 'authorization-attachment-input-class', 'Class Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('authorization-attachment-class', 'authorization-attachment-input-class', 'Class Certificate')"
                                                        type="file" id="authorization-attachment-input-class" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Subject Certificate:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="authorization-attachment-subject" type="text" readonly>
                                                    <i id="authorization-attachment-subject-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('authorization-attachment-subject-delete', 'authorization-attachment-subject', 'authorization-attachment-input-subject', 'Subject Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('authorization-attachment-subject', 'authorization-attachment-input-subject', 'Subject Certificate')"
                                                        type="file" id="authorization-attachment-input-subject" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                        <div class="col-40">Payment Receipt:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="authorization-attachment-payment" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('authorization-attachment-payment', 'authorization-attachment-input-payment', 'Payment Receipt')"
                                                        type="file" id="authorization-attachment-input-payment" />
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <p class="row cert-buttons">
            <!-- <button id="payment-btn" class="col button button-raised button-round button-submit">Pay</button> -->

            <button id="clear" class="col button button-raised button-round">Clear</button>
            <button id="submit-authorization" class="col button button-raised button-round button-submit">Submit</button>
        </p>

        <p class="row cert-buttons" id="payment-btn">
            <button onclick="hukoomiPayment()" class="col button button-raised button-round button-submit">Pay</button>
        </p>

        <p class="row cert-extension" id="cancel">
            <button id="cancel-extension" class="col-100 button button-raised button-round button-submit">Cancel</button>
        </p>


    </div>
</div>

</div>