<div class="page" data-name="csr">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left Ara">
                <a href="" class="link back">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="divider">
            <i class="bv icon-certificate-list"></i> Continuous Synopsis Record </div>

        <div class="cert-accordian">


            <div class="txtContainer">
                <div class="row">
                    <div class="col-40">Service Name:</div>
                    <div class="col-60 color-red">Continuous Synopsis Record</div>
                </div>
                <div class="row">
                    <div class="col-40">Fees:</div>
                    <div id="serviceFee" class="col-60 color-red">500</div>
                </div>
                <div class="row" id="request-status-container">
                    <div class="col-40">Status:</div>
                    <div id="request-status" class="col-60 color-red text-wrap"></div>
                </div>

                <div class="row" id="">
                    <div class="col-40">Vessel:</div>
                    <div class="col-60 color-red text-wrap vesselLink"> </div>
                </div>

            </div>



            <div class="list accordion-list">
                <ul>


                    <li class="accordion-item vessel_info" data-id="2">
                    </li>


                    <!-- <li class="accordion-item" data-id="2">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Application Status</div>
                                    <i class="bv icon-down-arrow-01 icon-down-arrow"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Request Status:</div>
                                        <div class="col-60 color-red">
                                            <div class="dropdown">
                                                <select class="dropdown-select" placeholder="Please choose...">
                                                            <option value="Male">Approval</option>
                                                            <option value="Female">Rejection</option>
                                                            <option value="">Assigning an employee to review the application</option>
                                                            <option value="">Returning the request due to missing requirements</option>
                                                        </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Internal Comments:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="Comments">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Comments To Vessel Owner:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="Comments">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> -->

                    <li class="accordion-item" data-id="2" id="comments-section">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Comments</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row" id="commentsToVesselOwnerContainer">
                                        <div class="col-40">Comments To Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsToVesselOwner"></div>
                                    </div>
                                    <div class="row" id="commentsFromVesselOwnerContainer">
                                        <div class="col-40">Comments From Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsFromVesselOwner"></div>
                                    </div>
                                    <div class="row" id="flagInspectorContainer">
                                        <div class="col-40">Flag Inspector Comments:</div>
                                        <div class="col-60 color-red" id="flagInspectorComments"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="accordion-item">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-upload-document-01 licon"></i>
                                    <div class="item-title">Upload Documents</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Letter from Owner<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="csr-attachment-letter" type="text" readonly>
                                                    <i id="csr-attachment-letter-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('csr-attachment-letter-delete', 'csr-attachment-letter', 'csr-attachment-input-letter', 'Letter from Owner')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('csr-attachment-letter', 'csr-attachment-input-letter', 'Letter From Owner')"
                                                        type="file" id="csr-attachment-input-letter" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Original Certificate of Qatar Registry<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="csr-attachment-registry" type="text" readonly>
                                                    <i id="csr-attachment-registry-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('csr-attachment-registry-delete', 'csr-attachment-registry', 'csr-attachment-input-registry', 'Original Certificate of Qatar Registry')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('csr-attachment-registry', 'csr-attachment-input-registry', 'Original Certificate of Qatar Registry')"
                                                        type="file" id="csr-attachment-input-registry" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Document of Appliance<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="csr-attachment-appliance" type="text" readonly>
                                                    <i id="csr-attachment-appliance-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('csr-attachment-appliance-delete', 'csr-attachment-appliance', 'csr-attachment-input-appliance', 'Document of Appliance')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('csr-attachment-appliance', 'csr-attachment-input-appliance', 'Document Of Appliance')"
                                                        type="file" id="csr-attachment-input-appliance" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Safety Management Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="csr-attachment-safety" type="text" readonly>
                                                    <i id="csr-attachment-safety-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('csr-attachment-safety-delete', 'csr-attachment-safety', 'csr-attachment-input-safety', 'Safety Management Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('csr-attachment-safety', 'csr-attachment-input-safety', 'Safety Management Certificate')"
                                                        type="file" id="csr-attachment-input-safety" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">International Ship Security Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="csr-attachment-security" type="text" readonly>
                                                    <i id="csr-attachment-security-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('csr-attachment-security-delete', 'csr-attachment-security', 'csr-attachment-input-security', 'International Ship Security Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('csr-attachment-security', 'csr-attachment-input-security', 'International Ship Security Certificate')"
                                                        type="file" id="csr-attachment-input-security" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">CSR from another flag:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="csr-attachment-flag" type="text" readonly>
                                                    <i id="csr-attachment-flag-delete" class="fa fa-trash attachment-delete-icon" onclick="deleteAttachment('csr-attachment-flag-delete', 'csr-attachment-flag', 'csr-attachment-input-flag', 'CSR from another flag')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('csr-attachment-flag', 'csr-attachment-input-flag', 'CSR from another flag')"
                                                        type="file" id="csr-attachment-input-flag" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-40">Payment Receipt:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="csr-attachment-payment" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('csr-attachment-payment', 'csr-attachment-input-payment', 'Payment Receipt')"
                                                        type="file" id="csr-attachment-input-payment" />
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <p class="row cert-buttons">
            <!-- <button id="payment-btn" class="col button button-raised button-round button-submit">Pay</button> -->

            <button id="clear" class="col button button-raised button-round">Clear</button>
            <button id="submit-csr" class="col button button-raised button-round button-submit">Submit</button>
        </p>

        <p class="row cert-buttons" id="payment-btn">
            <button onclick="hukoomiPayment()" class="col button button-raised button-round button-submit">Pay</button>
        </p>

        <p class="row cert-buttons" id="cancel">
            <button id="cancel-csr" class="col-100 button button-raised button-round button-submit">Cancel</button>
        </p>


    </div>
</div>

</div>