<div class="page my-requests" data-name="home-bgv">
    <div class="navbar">
        <div class="navbar-inner">


            <div class="left Ara">
                <a href="" class="link back">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back" onclick="goToMaritime()">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content homebg">
        <div class="spacer">

            <div class="row icon-row">
                <div class="col-33">
                    <a href="/requests/" class="animated fadeInLeft">
                        <!-- <i class="bvicon icon-request-list"></i> -->
                        <div class="homeicons">
                            <img class="bvicon" src="./icons/home/Request-01.svg">
                        </div>
                        <span> My Request</span>
                    </a>
                </div>
                <div class="col-33">
                    <a href="/tasks-list/" class="animated fadeIn">
                        <div class="homeicons">
                            <img class="bvicon" src="./icons/home/task-list-01.svg">
                        </div>
                        <span> Task List</span>
                    </a>
                </div>
                <div class="col-33">
                    <a href="/certificates/" class="animated fadeInRight">
                        <div class="homeicons">
                            <img style="width:41px;" class="bvicon" src="./icons/home/certificatesList-01.svg">
                        </div>
                        <span> Services</span>
                    </a>
                </div>
            </div>

            <div class="row icon-row">
                <div class="col-33">
                    <a href="/my-vessels/" class="animated fadeInLeft">
                        <div class="homeicons">
                            <img class="bvicon" src="./icons/home/my-vessels-01.svg">
                        </div>
                        <span> My Vessels</span>
                    </a>
                </div>
                <div class="col-33">
                    <a href="/my-details/" class="animated fadeIn">
                        <div class="homeicons">
                            <img class="bvicon" src="./icons/home/my-details-01.svg">
                        </div>
                        <span> My Profile</span>
                    </a>
                </div>
                <div class="col-33">
                </div>
            </div>

        </div>
    </div>
</div>