<div class="page" data-name="my-details">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left Ara">
                <a href="" class="link back">
                                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                                    </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                                        <span class="twig-16 iicon-firefox"></span>
                                    </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back">
                                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                                    </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="divider">
            <i class="bv icon-certificate-list"></i> My Profile
        </div>
        <div class="mydetails-details-block details-block"></div>
    </div>
</div>