<div class="page" data-name="vessel-deletion">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left Ara">
                <a href="" class="link back">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="divider">
            <i class="bv icon-certificate-list"></i> Ship Deletion Certificate </div>

        <div class="cert-accordian">

            <div class="txtContainer">
                <div class="row">
                    <div class="col-40">Service Name:</div>
                    <div class="col-60 color-red">Ship Deletion</div>
                </div>
                <div class="row">
                    <div class="col-40">Fees:</div>
                    <div class="col-60 color-red" id="serviceFee">500</div>
                </div>
                <div class="row" id="request-status-container">
                    <div class="col-40">Status:</div>
                    <div id="request-status" class="col-60 color-red text-wrap"></div>
                </div>

                <div class="row" id="">
                    <div class="col-40">Vessel:</div>
                    <div class="col-60 color-red text-wrap vesselLink"> </div>
                </div>

            </div>

            <div class="list accordion-list">
                <ul>


                    <li class="accordion-item vessel_info" data-id="2">
                    </li>

                    <!-- <li class="accordion-item">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Application Status</div>
                                    <i class="bv icon-down-arrow-01 icon-down-arrow"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Request Status:</div>
                                        <div class="col-60 color-red">
                                            <div class="dropdown">
                                                <select class="dropdown-select" placeholder="Please choose...">
                                                            <option value="Male">Approval</option>
                                                            <option value="Female">Rejection</option>
                                                            <option value="">Assigning an employee to review the application</option>
                                                            <option value="">Returning the request due to missing requirements</option>
                                                        </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Internal Comments:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="Comments">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Comments To Vessel Owner:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="Comments">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> -->

                    <li class="accordion-item">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-upload-document-01 licon"></i>
                                    <div class="item-title">Upload Documents</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Letter from Owner<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="deletion-attachment-letter" type="text" readonly>
                                                    <i id="deletion-attachment-letter-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('deletion-attachment-letter-delete', 'deletion-attachment-letter', 'deletion-attachment-input-letter', 'Letter from Owner')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('deletion-attachment-letter', 'deletion-attachment-input-letter', 'Letter From Owner')"
                                                        type="file" id="deletion-attachment-input-letter" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Original Certificate of Qatar Registry<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="deletion-attachment-certificate" type="text" readonly>
                                                    <i id="deletion-attachment-certificate-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('deletion-attachment-certificate-delete', 'deletion-attachment-certificate', 'deletion-attachment-input-certificate', 'Original Certificate of Qatar Registry')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('deletion-attachment-certificate', 'deletion-attachment-input-certificate', 'Original Certificate of Qatar Registry')"
                                                        type="file" id="deletion-attachment-input-certificate" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="letter-new-flag">
                                        <div class="col-40">Letter from New flag Country<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="deletion-attachment-flag" type="text" readonly>
                                                    <i id="deletion-attachment-flag-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('deletion-attachment-flag-delete', 'deletion-attachment-flag', 'deletion-attachment-input-flag', 'Letter from New flag Country')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('deletion-attachment-flag', 'deletion-attachment-input-flag', 'Letter from New flag Country')"
                                                        type="file" id="deletion-attachment-input-flag" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="bill-of-sale-attachment-container">
                                        <div class="col-40">Bill of Sale<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="deletion-attachment-bill" type="text" readonly>
                                                    <i id="deletion-attachment-bill-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('deletion-attachment-bill-delete', 'deletion-attachment-bill', 'deletion-attachment-input-bill', 'Bill of Sale')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('deletion-attachment-bill', 'deletion-attachment-input-bill', 'Bill of Sale')"
                                                        type="file" id="deletion-attachment-input-bill" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="evidance-sink-attachment-container">
                                        <div class="col-40">Evidence of ship Scrap or Sink<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="deletion-attachment-evidence" type="text" readonly>
                                                    <i id="deletion-attachment-evidence-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('deletion-attachment-evidence-delete', 'deletion-attachment-evidence', 'deletion-attachment-input-evidence', 'Evidence of ship Scrap or Sink')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('deletion-attachment-evidence', 'deletion-attachment-input-evidence', 'Evidence of ship Scrap or Sink')"
                                                        type="file" id="deletion-attachment-input-evidence" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                        <div class="col-40">Payment Receipt:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="deletion-attachment-payment" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('deletion-attachment-payment', 'deletion-attachment-input-payment', 'Payment Receipt')" type="file"
                                                        id="deletion-attachment-input-payment" />
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="accordion-item" data-id="2" id="comments-section">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Comments</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row" id="commentsToVesselOwnerContainer">
                                        <div class="col-40">Comments To Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsToVesselOwner"></div>
                                    </div>
                                    <div class="row" id="commentsFromVesselOwnerContainer">
                                        <div class="col-40">Comments From Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsFromVesselOwner"></div>
                                    </div>
                                    <div class="row" id="flagInspectorContainer">
                                        <div class="col-40">Flag Inspector Comments:</div>
                                        <div class="col-60 color-red" id="flagInspectorComments"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <p class="row cert-buttons">
            <!-- <button id="payment-btn" class="col button button-raised button-round button-submit">Pay</button> -->
            <button id="clear" class="col button button-raised button-round">Clear</button>
            <button id="submit-deletion" class="col button button-raised button-round button-submit">Submit</button>
        </p>

        <p class="row cert-buttons" id="payment-btn">
            <button onclick="hukoomiPayment()" class="col button button-raised button-round button-submit">Pay</button>
        </p>

        <p class="row cert-buttons" id="cancel">
            <button id="cancel" class="col-100 button button-raised button-round button-submit">Cancel</button>
        </p>




    </div>
</div>

</div>