<div class="page my-requests" data-name="my-requests">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left Ara">
        <a href="" class="link back">
                            <img class="side-menu-icon" src="./icons/back.svg" alt="">
                        </a>
      </div>
      <div class="left Eng">
        <a href="#" class="link icon-only panel-open" data-panel="left">
                            <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                            <span class="twig-16 iicon-firefox"></span>
                        </a>
      </div>
      <div class="title"> </div>
      <div class="right Eng">
        <a href="" class="link back">
                            <img class="side-menu-icon" src="./icons/back.svg" alt="">
                        </a>
      </div>
      <div class="right Ara">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <!-- <span class="kkicon icon-menu"></span> -->
          <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
          <span class="twig-16 iicon-firefox"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content derating-certificate-form">
     


    <div class="divider">
      <i class="bv icon-certificate-list  list-header-icon"></i>My Requests
    </div>

    <div class="row">
      <div class="col-70 seach-col-70">
        <div class="searchbar-backdrop"></div>
        <form class="searchbar" id="requestSearch"> 
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input id="requestSearchValue" type="search" placeholder="Search" onchange="searchRequest()">
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button">Cancel</span>
          </div>
        </form>
      </div>
      <div class="col-30 seach-col-30">
        <select onchange="setSearchCriteria(value)" class="request-seach-dropdown">
          <option value="ReqID">ID</option>
          <option value="ReqStatus">Status</option>
          <option value="VesselName">Vessel</option>
          <option value="ReqDate">Date</option>
          <option value="OfficialNumber">Official No</option>
        </select>
      </div>
    </div>

    <div class="rbtn">


     <div class="vessel-services-list searchbar-found" id="vesselServicesList"></div>

    </div>

    <div class="block searchbar-not-found">
        <div class="block-inner">Nothing found</div>
      </div>

  </div>
</div>