<div class="page" data-name="ownership-transfer">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left Ara">
                <a href="" class="link back">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back">
                    <img class="side-menu-icon" src="./icons/back.svg" alt="">
                </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="divider">
            <i class="bv icon-certificate-list"></i> Ownership Tranfer Request </div>

        <div class="cert-accordian">

            <div class="txtContainer">
                <div class="row">
                    <div class="col-40">Service Name:</div>
                    <div class="col-60 color-red">Transfer Ownership</div>
                </div>
                <div class="row">
                    <div class="col-40">Fees:</div>
                    <div id="serviceFee" class="col-60 color-red">500</div>
                </div>
                <div class="row" id="request-status-container">
                    <div class="col-40">Status:</div>
                    <div id="request-status" class="col-60 color-red text-wrap"></div>
                </div>
                <div class="row" id="">
                    <div class="col-40">Vessel:</div>
                    <div class="col-60 color-red text-wrap vesselLink"> </div>
                </div>
            </div>

            <div class="list accordion-list">
                <ul>

                    <li class="accordion-item vessel_info" data-id="2">
                    </li>

                    <!-- <li class="accordion-item first-accordian vesselDimension" data-id="1">

                    </li> -->

                    <li class="accordion-item engineSpecs" data-id="2">

                    </li>

                    <li class="accordion-item owner_details" data-id="2">
                    </li>

                    <li class="accordion-item buyers_details">

                    </li>

                    <li class="accordion-item">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-upload-document-01 licon"></i>
                                    <div class="item-title">Upload Documents</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Letter from new Owner<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="transfer-attachment-letter" type="text" readonly>
                                                    <i id="transfer-attachment-letter-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('transfer-attachment-letter-delete', 'transfer-attachment-letter', 'transfer-attachment-input-letter', 'Letter from Owner')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('transfer-attachment-letter', 'transfer-attachment-input-letter', 'Letter From new Owner')"
                                                        type="file" id="transfer-attachment-input-letter" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Original Registry Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="transfer-attachment-certificate" type="text" readonly>
                                                    <i id="transfer-attachment-certificate-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('transfer-attachment-certificate-delete', 'transfer-attachment-certificate', 'transfer-attachment-input-certificate', 'Original Registry Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('transfer-attachment-certificate', 'transfer-attachment-input-certificate', 'Original Registry Certificate')"
                                                        type="file" id="transfer-attachment-input-certificate" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="qid-seller-attachement">
                                        <div class="col-40"> QID Copy (Seller):</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="transfer-attachment-qidSeller" type="text" readonly>
                                                    <i id="transfer-attachment-qidSeller-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('transfer-attachment-qidSeller-delete', 'transfer-attachment-qidSeller', 'transfer-attachment-input-qidSeller', 'QID Copy (Seller)')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('transfer-attachment-qidSeller', 'transfer-attachment-input-qidSeller', 'QID Copy (Seller)')"
                                                        type="file" id="transfer-attachment-input-qidSeller" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="commercial-reg-seller-attachement">
                                        <div class="col-40">Commercial Registration (Seller):</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="transfer-attachment-commercialSeller" type="text"
                                                        readonly>
                                                    <i id="transfer-attachment-commercialSeller-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('transfer-attachment-commercialSeller-delete', 'transfer-attachment-commercialSeller', 'transfer-attachment-input-commercialSeller', 'Commercial Registration (Seller)')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('transfer-attachment-commercialSeller', 'transfer-attachment-input-commercialSeller', 'Commercial Registration (Seller)')"
                                                        type="file" id="transfer-attachment-input-commercialSeller" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="qid-buyer-attachement">
                                        <div class="col-40"> QID Copy (Buyer) <span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="transfer-attachment-qidBuyer" type="text" readonly>
                                                    <i id="transfer-attachment-qidBuyer-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('transfer-attachment-qidBuyer-delete', 'transfer-attachment-qidBuyer', 'transfer-attachment-input-qidBuyer', 'QID Copy (Buyer)')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('transfer-attachment-qidBuyer', 'transfer-attachment-input-qidBuyer', 'QID Copy (Buyer)')"
                                                        type="file" id="transfer-attachment-input-qidBuyer" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="commercial-reg-buyer-attachement">
                                        <div class="col-40"> Commercial Registration (Buyer) <span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="transfer-attachment-commercialBuyer" type="text"
                                                        readonly>
                                                        <i id="transfer-attachment-commercialBuyer-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('transfer-attachment-commercialBuyer-delete', 'transfer-attachment-commercialBuyer', 'transfer-attachment-input-commercialBuyer', 'QID Copy (Buyer)')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('transfer-attachment-commercialBuyer', 'transfer-attachment-input-commercialBuyer', 'Commercial Registration (Buyer)')"
                                                        type="file" id="transfer-attachment-input-commercialBuyer" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40"> Bill of Sale <span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="transfer-attachment-bill" type="text" readonly>
                                                    <i id="transfer-attachment-bill-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('transfer-attachment-bill-delete', 'transfer-attachment-bill', 'transfer-attachment-input-bill', 'Bill of Sale')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('transfer-attachment-bill', 'transfer-attachment-input-bill', 'Bill of Sale')"
                                                        type="file" id="transfer-attachment-input-bill" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Ship building Certificate:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="transfer-attachment-shipBuilding" type="text" readonly>
                                                    <i id="transfer-attachment-shipBuilding-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('transfer-attachment-shipBuilding-delete', 'transfer-attachment-shipBuilding', 'transfer-attachment-input-shipBuilding', 'Ship building Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('transfer-attachment-shipBuilding', 'transfer-attachment-input-shipBuilding', 'Ship building Certificate')"
                                                        type="file" id="transfer-attachment-input-shipBuilding" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                        <div class="col-40">Payment Receipt:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="transfer-attachment-payment" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('transfer-attachment-payment', 'transfer-attachment-input-payment', 'Payment Receipt')" type="file"
                                                        id="transfer-attachment-input-payment" />
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="accordion-item" data-id="2" id="comments-section">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Comments</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row" id="commentsToVesselOwnerContainer">
                                        <div class="col-40">Comments To Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsToVesselOwner"></div>
                                    </div>
                                    <div class="row" id="commentsFromVesselOwnerContainer">
                                        <div class="col-40">Comments From Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsFromVesselOwner"></div>
                                    </div>
                                    <div class="row" id="flagInspectorContainer">
                                        <div class="col-40">Flag Inspector Comments:</div>
                                        <div class="col-60 color-red" id="flagInspectorComments"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <p class="row cert-buttons">
            <!-- <button id="payment-btn" class="col button button-raised button-round button-submit">Pay</button> -->
            <button id="clear" class="col button button-raised button-round">Clear</button>
            <button id="submit-transfer" class="col button button-raised button-round button-submit">Submit</button>
        </p>

        <p class="row cert-buttons" id="payment-btn">
            <button onclick="hukoomiPayment()" class="col button button-raised button-round button-submit">Pay</button>
        </p>

        <p class="row cert-buttons" id="cancel">
            <button id="cancel-trans" class="col-100 button button-raised button-round button-submit">Cancel</button>
        </p>


    </div>
</div>

</div>