<div class="page my-requests" data-name="sepecification-amend">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left Ara">
                <a href="" class="link back">
                                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                                    </a>
            </div>
            <div class="left Eng">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                                        <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                                        <span class="twig-16 iicon-firefox"></span>
                                    </a>
            </div>
            <div class="title"> </div>
            <div class="right Eng">
                <a href="" class="link back">
                                        <img class="side-menu-icon" src="./icons/back.svg" alt="">
                                    </a>
            </div>
            <div class="right Ara">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <!-- <span class="kkicon icon-menu"></span> -->
                    <img class="side-menu-icon" src="./icons/side-menu-icon.png" alt="">
                    <span class="twig-16 iicon-firefox"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="divider">
            <i class="bv icon-certificate-list"></i> Certificate of Specification and amend Request </div>

        <div class="cert-accordian">
            
                <div class="txtContainer">

                        <div class="row">
                                <div class="col-40">Service Name:</div>
                                <div class="col-60 color-red">Certificate of Specification Amend</div>
                            </div>
                            <div class="row">
                                <div class="col-40">Fees:</div>
                                <div id="serviceFee" class="col-60 color-red">500</div>
                            </div>
                            <div class="row" id="request-status-container">
                                <div class="col-40">Status:</div>
                                <div id="request-status" class="col-60 color-red text-wrap"></div>
                            </div>
        
                        <div class="row" id="">
                                <div class="col-40">Vessel:</div>
                                <div class="col-60 color-red text-wrap vesselLink">    </div>
                        </div>
        
                    </div>

                    

            <div class="list accordion-list">
                <ul>
        
                    <li class="accordion-item vessel_info" data-id="2">
                    </li>

                    <li class="accordion-item vesselDIM-textbox">

                    </li>

                    <li class="accordion-item engineSpecs-textbox" data-id="2">

                    </li>

              

                    <!-- <li class="accordion-item" data-id="2">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Application Status</div>
                                    <i class="bv icon-down-arrow-01 icon-down-arrow"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Request Status:</div>
                                        <div class="col-60 color-red">
                                            <div class="dropdown">
                                                <select class="dropdown-select" placeholder="Please choose...">
                                                            <option value="Male">Approval</option>
                                                            <option value="Female">Rejection</option>
                                                            <option value="">Assigning an employee to review the application</option>
                                                            <option value="">Returning the request due to missing requirements</option>
                                                        </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-40">Comments:</div>
                                        <div class="col-60">
                                            <input class="text-input" type="text" placeholder="Comments">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> -->


                    <li class="accordion-item">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-upload-document-01 licon"></i>
                                    <div class="item-title">Upload Documents</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row">
                                        <div class="col-40">Letter from Owner<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-letter" type="text" readonly>
                                                    <i id="specification-attachment-letter-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-letter-delete', 'specification-attachment-letter', 'specification-attachment-input-letter', 'Letter from Owner')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-letter', 'specification-attachment-input-letter', 'Letter From Owner')"
                                                        type="file" id="specification-attachment-input-letter" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="commercial-registration-attach-container">
                                        <div class="col-40">Commercial Registration<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-commercial" type="text" readonly>
                                                    <i id="specification-attachment-commercial-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-commercial-delete', 'specification-attachment-commercial', 'specification-attachment-input-commercial', 'Commercial Registration')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-commercial', 'specification-attachment-input-commercial', 'Commercial Registration')"
                                                        type="file" id="specification-attachment-input-commercial" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40"> QID Copy :</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-qid" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-qid', 'specification-attachment-input-qid', 'QID Copy')" type="file"
                                                        id="specification-attachment-input-qid" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Builder Certificate:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-builder" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-builder', 'specification-attachment-input-builder', 'Builder Certificate')"
                                                        type="file" id="specification-attachment-input-builder" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Bill of Sale:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-bill" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-bill', 'specification-attachment-input-bill', 'Bill of Sale')" type="file"
                                                        id="specification-attachment-input-bill" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Deletion Certificate:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-deletion" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-deletion', 'specification-attachment-input-deletion', 'Deletion Certificate')"
                                                        type="file" id="specification-attachment-input-deletion" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="bank-letter">
                                        <div class="col-40">Letter from the Bank:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-bank" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-bank', 'specification-attachment-input-bank', 'Letter from the Bank')"
                                                        type="file" id="specification-attachment-input-bank" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">Previous Flag registration Certificate:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-flag" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-flag', 'specification-attachment-input-flag', 'Previous Flag registration Certificate')"
                                                        type="file" id="specification-attachment-input-flag" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40"> Certificate of Classification <span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-classification" type="text" readonly>
                                                    <i id="specification-attachment-classification-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-classification-delete', 'specification-attachment-classification', 'specification-attachment-input-classification', 'Certificate of Classification')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-classification', 'specification-attachment-input-classification', 'Certificate of Classification')"
                                                        type="file" id="specification-attachment-input-classification" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">International Tonnage certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-tonnage" type="text" readonly>
                                                    <i id="specification-attachment-tonnage-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-tonnage-delete', 'specification-attachment-tonnage', 'specification-attachment-input-tonnage', 'International Tonnage certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-tonnage', 'specification-attachment-input-tonnage', 'International Tonnage certificate')"
                                                        type="file" id="specification-attachment-input-tonnage" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-40">International Load Line Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-loadLine" type="text" readonly>
                                                    <i id="specification-attachment-loadLine-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-loadLine-delete', 'specification-attachment-loadLine', 'specification-attachment-input-loadLine', 'International Load Line Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-loadLine', 'specification-attachment-input-loadLine', 'International Load Line Certificate')"
                                                        type="file" id="specification-attachment-input-loadLine" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="cargo">
                                        <div class="col-40">Cargo ship Safety Radio Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-cargoRadio" type="text" readonly>
                                                    <i id="specification-attachment-loadLine-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-loadLine-delete', 'specification-attachment-loadLine', 'specification-attachment-input-loadLine', 'International Load Line Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-cargoRadio', 'specification-attachment-input-cargoRadio', 'Cargo ship Safety Radio Certificate')"
                                                        type="file" id="specification-attachment-input-cargoRadio" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="compliance">
                                        <div class="col-40">Documents of Compliance<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-compliance" type="text" readonly>
                                                    <i id="specification-attachment-compliance-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-compliance-delete', 'specification-attachment-compliance', 'specification-attachment-input-compliance', 'Documents of Compliance')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-compliance', 'specification-attachment-input-compliance', 'Documents of Compliance')"
                                                        type="file" id="specification-attachment-input-compliance" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="safety">
                                        <div class="col-40">Safety Management Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-safety" type="text" readonly>
                                                    <i id="specification-attachment-safety-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-safety-delete', 'specification-attachment-safety', 'specification-attachment-input-safety', 'Safety Management Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-safety', 'specification-attachment-input-safety', 'Safety Management Certificate')"
                                                        type="file" id="specification-attachment-input-safety" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="cargo-construction">
                                        <div class="col-40">Cargo Ship Safety Construction Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-cargoConstruction" type="text" readonly>
                                                    <i id="specification-attachment-cargoConstruction-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-cargoConstruction-delete', 'specification-attachment-cargoConstruction', 'specification-attachment-input-cargoConstruction', 'Cargo Ship Safety Construction Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-cargoConstruction', 'specification-attachment-input-cargoConstruction', 'Cargo Ship Safety Construction Certificate')"
                                                        type="file" id="specification-attachment-input-cargoConstruction" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="cargo-equip">
                                        <div class="col-40">Cargo Ship Safety Equipment Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-cargoSafety" type="text" readonly>
                                                    <i id="specification-attachment-cargoSafety-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-cargoSafety-delete', 'specification-attachment-cargoSafety', 'specification-attachment-input-cargoSafety', 'Cargo Ship Safety Equipment Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-cargoSafety', 'specification-attachment-input-cargoSafety', 'Cargo Ship Safety Equipment Certificate')"
                                                        type="file" id="specification-attachment-input-cargoSafety" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="oil">
                                        <div class="col-40">International Oil Pollution Prevention Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-oilPollution" type="text" readonly>
                                                    <i id="specification-attachment-oilPollution-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-oilPollution-delete', 'specification-attachment-oilPollution', 'specification-attachment-input-oilPollution', 'International Oil Pollution Prevention Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-oilPollution', 'specification-attachment-input-oilPollution', 'International Oil Pollution Prevention Certificate')"
                                                        type="file" id="specification-attachment-input-oilPollution" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="sewage">
                                        <div class="col-40">International Sewage Pollution Prevention Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-sewagePollution" type="text" readonly>
                                                    <i id="specification-attachment-sewagePollution-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-sewagePollution-delete', 'specification-attachment-sewagePollution', 'specification-attachment-input-sewagePollution', 'International Sewage Pollution Prevention Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-sewagePollution', 'specification-attachment-input-sewagePollution', 'International Sewage Pollution Prevention Certificate')"
                                                        type="file" id="specification-attachment-input-sewagePollution" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="pollution">
                                        <div class="col-40">International Air Pollution Prevention Certificate<span class="color-red">*</span>:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-airPollution" type="text" readonly>
                                                    <i id="specification-attachment-airPollution-delete" class="fa fa-trash attachment-delete-icon"
                                                        onclick="deleteAttachment('specification-attachment-airPollution-delete', 'specification-attachment-airPollution', 'specification-attachment-input-airPollution', 'International Air Pollution Prevention Certificate')"></i>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-airPollution', 'specification-attachment-input-airPollution', 'International Air Pollution Prevention Certificate')"
                                                        type="file" id="specification-attachment-input-airPollution" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                        <div class="col-40">Payment Receipt:</div>
                                        <div class="col-60">
                                            <div class="item-inner upload-document-input">
                                                <div class="item-input-wrap">
                                                    <input id="specification-attachment-payment" type="text" readonly>
                                                    <i class="bv upload-input-icon icon-upload-document-01 icon-down-arrow"></i>
                                                    <input onchange="checkFile('specification-attachment-payment', 'specification-attachment-input-payment', 'Payment Receipt')"
                                                        type="file" id="specification-attachment-input-payment" />
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="accordion-item" data-id="2" id="comments-section">
                        <div class="list-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <i class="bv icon-other-details--01 licon"></i>
                                    <div class="item-title">Comments</div>
                                    <i class="bv icon-arrow-down"></i>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-detail-block">
                                    <div class="row" id="commentsToVesselOwnerContainer">
                                        <div class="col-40">Comments To Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsToVesselOwner"></div>
                                    </div>
                                    <div class="row" id="commentsFromVesselOwnerContainer">
                                        <div class="col-40">Comments From Vessel Owner:</div>
                                        <div class="col-60 color-red" id="commentsFromVesselOwner"></div>
                                    </div>
                                    <div class="row" id="flagInspectorContainer">
                                        <div class="col-40">Flag Inspector Comments:</div>
                                        <div class="col-60 color-red" id="flagInspectorComments"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <p class="row cert-buttons">
            <!-- <button id="payment-btn" class="col button button-raised button-round button-submit">Pay</button> -->

            <button id="clear" class="col button button-raised button-round">Clear</button>
            <button id="submit-specification" class="col button button-raised button-round button-submit">Submit</button>
        </p>
        <p class="row cert-buttons" id="payment-btn">
            <button onclick="hukoomiPayment()" class="col button button-raised button-round button-submit">Pay</button>
        </p>

        <p class="row cert-buttons" id="cancel">
            <button id="cancel-spec" class="col-100 button button-raised button-round button-submit">Cancel</button>
        </p>

    </div>
</div>

</div>