/* Your app styles here */
.ios .navbar {
    color: #fff;
    background: #8d1637;
    height: 50px !important;
}
.ios .navbar .f7-icons, .ios .toolbar .f7-icons, .ios .navbar a {
    color: #fff;
}
.ios .page {
    background: #fcfbfb;
}
@font-face {
    font-family: "Neo Sans Arabic Regular";
    src: url("../fonts/Neo-Sans-Arabic-Regular.ttf");
}

f7-body, .ios body {
    font-family: "Neo Sans Arabic Regular" !important;
}

/* HOMEPAGE DESIGN */
.homebg{
    background: url(../icons/bg.jpg) no-repeat center 44px;
    background-size: contain;
}


.homeicons{
  
}
/* .homeicons a i {
    font-size: 50px;
    color: #000;
    padding: 10px;
    display: block;
    border: solid 2px #8d1d3e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px auto;
} */

.homeicons {
    font-size: 50px;
    color: #000;
    padding: 10px;
    display: block;
    border: solid 2px #8d1d3e;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    margin: 8px auto;  
    text-align: center;
}

.homeicons img {
    width: 39px;
    padding-bottom: 15%;
    /* padding-bottom: 13%; */
    

}

#view-home .spacer a {
    text-align: center;
    display: block;
}
#view-home .icon-row {
    margin: 10px;
    padding-bottom: 10%;
}
 
.homeicons a.active-state i {
    background:#810f30;
    color:#fff;
}

.side-menu-icon {
    width: 20px;
}

.homebg .spacer {
 padding-top: 8%;
}

.homeicons  a {
    text-align: center;
    display: block;
 }
.homeicons  a span {
  display: block;
  color:#454545;
  font-size:15px;
}


/* TABBAR */
 .ios .tabbar a.tab-link-active, .ios .tabbar-labels a.tab-link-active {
    color: #810f30;
}


.ios .toolbar {
 
    background: #e1e1e1;
 }

 .ios .tabbar-labels a.link, .ios .tabbar-labels a.tab-link {
    font-size: 22px;
    text-align: center;
}


/* LOGIN Page  BGV*/

/* .login-header {
    background: url(../icons/login-header.jpg) no-repeat #fff;
    background-size: 100% 46%;
    width: 100%;
}
.login-form {
    position: absolute;
    width: 90%;
    bottom: 5%;
    left: 5%;
    right: 5%;
}
.login-form .forgetpwd {
    padding-left: 40px;
    margin-bottom: 40px;
    display: block;
} */



/* LOGIN Page */

.login-header {
    background: url(../assets/img/bg-new.png) no-repeat #fff;
    width: 100%;
    background-size: 100% 300px;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 0px;
    padding-bottom: 0px !important;
  }
  .login-form {
        /* position: absolute; */
      width: 80%;
      /* bottom: 11% !important; */
      left: 5%;
      right: 5%;
      margin-top: 40%;
      margin-left: 12%;
  }
  
  .login-header .logo {
    width: 46%;
    margin: auto;
    margin-top: 70px;
    display: block;
    /* position: absolute; */
    /* bottom: 66%; */
  }
  
  .login-form .forgetpwd {
    margin-bottom: 14px;
    display: block;
    margin-top: 14px;
    font-size: 14px;
    color: #841031;
  }
  
  .login-form .item-content {
    /* padding: 7px 19px; */
    padding-left: 0px !important;
  }
  
  .login-form ul {
    background: transparent !important;
  }
  
  .login-form .list-block ul:before  {
    display: none !important;
  }
  
  .login-form .item-media img {
    width: 19px;
  }
  
  .login-form .footer {
    text-align: center;
    font-size: 14px;
    margin-top: 22px;
  }
  
  .login-form .footer span:nth-child(2) {
    margin-right: 35px;
    margin-left: 20px;
  }
  
  .login-form .footer i {
    font-size: 16px;
  }
  
  .login-form .footer i:first-child {
    vertical-align: text-bottom;
  }
  
  .login-form .footer i:nth-child(2) {
    
  }
  
  .login-form .footer span:nth-child(1) {
    /* color: #841031; */
    margin-right: 20px;
  }
  
  .login-form .footer div {
    display: inline-block
  }

  .login-form .item-inner {
    border-bottom: 1px solid thin #c8c7cc;
    height: 1px;
    width: 100%;
    display: block;
    z-index: 15;
    margin-left: 0px !important;
    min-height: 65px !important;
  }


.login-form___wrapper>ul:after{
    /* display: none; */
  }
  /* Floating Inputbox Styling */
  .form-group {
    /* position: relative; */
    margin-bottom: 1.5rem;
    width: 100%;
  }

  .form-group input {
    padding-top: 30px;
    min-height: 46px;
  }

  .otp-form-group input {
    padding-top: 15px !important;
  }

  .otp-form-group .form-control-placeholder {
    padding: 0px 0 0 0px !important;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 24px 0 0 0px;
    transition: all 200ms;
    height: 0px;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 100%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    color: #8d1637;
  }
  
  .label-icon {
    width: 19px;
    vertical-align: middle;
    padding-right: 19px;
     
  }
  
  .label-icon-password {
    background: url(../assets/img/new-icon/password-01.svg) no-repeat;
    font-size: 19px;
  }
  
  .form-control:focus + .form-control-placeholder > .label-icon-password {
    background: url(../assets/img/new-icon/password-02.svg) no-repeat;
  }
  
  
  .label-icon-user {
    background: url(../assets/img/new-icon/username-01.svg) no-repeat;
    font-size: 21px;
  }
  
  .form-control:focus + .form-control-placeholder > .label-icon-user {
    background: url(../assets/img/new-icon/username-02.svg) no-repeat;
  }
  
  
  .form-control {
    height: 28px !important;
    font-size: 14px !important;
  }
  
  
  
  .label-text {
    opacity: 1;
    color: #8F8F8F;
    font-size: 16px !important;
    padding-left: 21px;
  
  }
  
  .form-control:focus + .form-control-placeholder > .label-text {
    color: #8d1637;
  }
  
  .form-group {
    margin-bottom: 0px;
  }
  
  .form-control:focus + li > .item-inner {
    border-bottom: 3px solid thin #c8c7cc !important;
  } 

  .login-otp .list-block {
    padding-top: 20px;
  }

  .login-otp p {
    font-size: 14px;
  }
  

/* General Styles */
.ios a {
    color: #454545;
}
.divider{
  background:#e1e1e1;
  margin-bottom:20px;
  padding:4px;
}

.rbtn a{
    background: #fafafa;
    padding: 10px;
    display:block;
    overflow: hidden;
    margin:10px;
    border:solid 1px #dedede;
    border-radius:5px;
    height: 55px;
}

.cert-accordian .list-item {
    display:block;
    overflow: hidden;
    margin:10px;
    border:solid 1px #dedede;
    border-radius:5px;

}

.cert-accordian .list-item a {
    height: 71px;

}

.cert-accordian .list-item a {
    background: #fafafa;
    padding: 10px;
}

.cert-accordian .list-item .item-inner:after, .cert-accordian ul:before, .cert-accordian ul:after  {
    background-color: transparent !important;
}

.cert-accordian .item-inner  {
    background-image: none !important;
    padding-right: 0px !important;
}

.navigation-right-arrow-icon {
    font-size: 16px;
    color: #908f90;
    width: 21px;
    border: solid 1px #908f90;
    border-radius: 50%;
    float: right;
    top: 10px;
}

.cert-accordian .licon {
    font-size: 30px;
    width: 10%;
    float: left;
}

.cert-accordian .item-title {
    /* color: #831433; */
    position: absolute;
    left: 18%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
}

.text-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.color-red {
    color: #831433;
}

.color-black {
    color: black;
}

.rbtn .licon{
    font-size: 30px;
    color: #831433;
    width: 10%;
    float: left;
}
.rbtn .ricon{
    font-size: 16px;
    color: #908f90;
    width: 21px;
    border: solid 1px #908f90;
    border-radius: 50%;
    float: right;
    top: 10px;
    position: relative;
}

.rbtn .icon-right-arrow-01 {
  padding-top: 5px; 
  padding-left: 2px;
  width: 26px !important;

}

.rbtn a.active-state{
    background: #efefef;
}
.ios .navbar .title {
  background: url(../icons/logo-new.png) no-repeat center center;
  width: 136px;
  height: 44px;
  background-size: 134px 42px;
  left: 0px !important;
}
.ios .navbar .right.Ara {
  margin-left: -15px !important;
}
.rbtn span  {
    position: relative;
    width: 75%;display: 
    block;float: left;
    margin-left: 5%;
    font-size: 13px;
    top: 10px;
}

.navbar a.link{
    color:#fff;
}

.ios label.item-radio input[type=radio]~.icon-radio {
    position: relative;
    margin-top: 0px;
}

.navbar-inner {
    padding: 0px !important;
    padding-right: 13px !important;
    padding-left: 10px !important;
}

.rndbtn {
    background: #8d1637;
    color: #fff;
    border: none;
    padding: 11px 40px;
    border-radius: 20px;
}

.ios .mlink{
    color:#8d1737;
}

.ios .list ul {
    border: none;
    background: none;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #831433;
}
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    top: 3px;
    left: 3.5px;
    width: 7.5px;
    height: 8px;
    border-radius: 50%;
    background: #831433;
  }

  .ios .list textarea {
      padding-top: 0px;
  }

  .list textarea {
      height: 35px;
      padding-bottom: 0px !important;
      border-bottom: 1px solid #ccc;
      padding-right: 30px;
  }

  .textarea-icon {
    float: right;
    margin-bottom: -20px;
    font-size: 14px;
  }


/* Certificate Styling */

.cert-accordian .list-item .list-detail-block {
    padding: 8px;
}

.cert-accordian .list-item .list-detail-block .row {
    padding: 12px 7px;
}

.icon-down-arrow:before {
    font-size: 22px;
}

.cert-accordian .dropdown {
    padding: 2px;
}

.dropdown-select {
    height: 16px !important;
    font-size: 14px !important;
}

.dropdown {    
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom-style: outset;
}

.upload-document-input {
    border-bottom: 1px solid #cccc !important;
    padding: 0px !important;
    min-height: 26px !important;
    height: 26px;
}

.upload-input-icon {
    position: absolute;
    right: 2px;
    top: 5px;
}

.cert-buttons {
    margin: 10px;
}

.cert-buttons .button {
    height: 40px;
    border-color: #831433;
}

.cert-buttons .button:nth-child(1) {
    color: #831433;
    margin-right: 7px;
}

.cert-buttons .button:nth-child(2) {
    background-color: #831433;
    color: #fff;
}

.cert-accordian .text-input {
    border-bottom: 1px solid #ccc;
    font-size: 14px !important;
    height: 21px !important;
}

/* My Vessels */

.myVessels span {
    top: 18px;
}

.myVessels a .header {
    background-color: #8d1637 !important;
    color: #fff;
    padding: 7px;
} 

.myVessels a:first-child {
    /* padding: 0px; */
}

.cert-accordian input[type=file] {
    position: absolute;
    left: 83%;
    top: 3px;
    width: 52px;
    opacity: 0;
}

.upload-document-input input {
    width: 151px !important;
    word-break: break-all;
    text-overflow: ellipsis;
    color: #8d1637 !important;
}

input, textarea {
    font-size: 14px !important;
}

.details-block {
    display: block;
    overflow: hidden;
    margin: 10px;
    border: solid 1px #dedede;
    border-radius: 5px;
    padding: 10px;
}

.details-block .row {
    padding: 12px 7px;
}

.list-header-icon {
    font-size: 20px;
    vertical-align: middle;
}

.icon-vessel’s-particulars-01::before {
    vertical-align: super;
}


.icon-arrow-down {
    background: url('../icons/down-arrow-01.svg') no-repeat;
    width: 25px;
    height: 24px;
    margin-right: 0.2em;
}

.icon-arrow-up {
    background: url('../icons/arrow-up.svg') no-repeat;
    width: 21px;
    height: 22px;
    margin-right: 0.3em;
}

.my-request-list {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.my-request-list .list-group-title i {
    padding-right: 8px;
    font-size: 27px !important;
}

.my-request-list .list-group-title i:before {
    text-align: left !important;
}

.my-request-list .list-group-title {
    
    padding: 10px 12px;
    /* padding-left: 10px; */
} 

.my-request-list .item-title container {
    font-size: 15px;
    /* color: #444; */
}

.my-request-list .item-title {
    width: 100%
}

.my-request-list .item-title i {
    top: -13px !important;
    /* font-size: 15px !important;
    width: 21px !important; */
}

.my-request-list .item-content .item-inner {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 56px;
}

.my-request-list .item-content {
    padding-left: 17px !important;
}

.my-request-list .list-group-title container {
    vertical-align: sub;
    font-size: 16px !important;
}

.my-requests .divider {
    margin-bottom: 0px !important;
}

/* PANEL */

.panel {
    color: #f0f0f0;
  }
  .panel .logo-box {
    text-align: center;
  }
  .panel .logo-box img {
    margin-top: 30px;
    width: 142px;
  }
  .panel .list-block .list-group ul {
    background: transparent;
  }
  .panel .list-block .list-group ul:before {
    background-color: #333;
  }
  .panel .list-block .list-group ul li:after {
    background-color: #333;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: auto;
    top: auto;
    -webkit-transform-origin: 50% 100% 0;
        -ms-transform-origin: 50% 100% 0;
            transform-origin: 50% 100% 0;
    width: 100%;
    z-index: 15;
  }
  .panel .list-block .list-group ul li .item-inner {
    background-image: none;
  }
  .panel .list-block .list-group ul li .item-inner:after {
    background-color: transparent;
  }

  .side-menu-list-icon {
    width: 26px;
  }
  
  .side-menu-close-icon {
    position: absolute;
    right: 15px;
    top: 18px;
    width: 14px;
  }
  
  .side-menu-icon {
    width: 20px;
  }
  
  
  .panel .list-block .list-group ul li {
    height: 44px;
    min-height: 43px;
    color: #cccccc;
    font-size: 14px;
  }
  
  .sideMenu > .list-block ul:after {
    height: 0px !important;
  }

.list-block .item-media {
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 8px;
  }

.list-block .item-content {
    box-sizing: border-box;
    padding-left: 15px;
    min-height: 44px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .profile .item-inner {
    height: 1px;
    width: 100%;
    display: block;
    z-index: 15;

    margin-left: 15px;
    min-height: 65px;
    
    padding-top: 8px;
    padding-bottom: 7px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    align-items: center;

  }

  .sideMenu .item-inner {
    height: 1px;
    width: 100%;
    display: block;
    z-index: 15;

    margin-left: 15px;
    min-height: 65px;
    
    padding-top: 8px;
    padding-bottom: 7px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    align-items: center;

  }
  
  .sideMenu .list-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .sideMenu {
    background: url(../assets/img/menu-bg.png) no-repeat center 0px;
    background-size: cover;
  }

  .mt-15 {
    margin-top: 15px !important;
}

.side-menu-close-icon {
    position: absolute;
    right: 15px;
    top: 18px;
    width: 14px;
}

.list-block .item-link {
    color: inherit;
}


.profile .list-box {
  border-right: 1px solid #635a5a;
  height: 70px;
  background: #373737;
  color: white;
  text-align: center;
  font-size: 14px;
}


.profile .row .col-33 {
  width: 33.333333333333336% !important;
}

.profile .circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  line-height: 27px;
  text-align: center;
  background: transparent;
  border: 1px solid #92924f;
  margin: 8px 14px 3px 39%;
}

.profile .item-content {
  padding-right: 15px;
  border-bottom: 1px solid #eee;
}

.profile .list-block {
  margin: 0px 0 !important;
  font-size: 13px !important;
}

.profile .list-block .item-inner {
  min-height: 49px; 
}

.profile .list-block .item-inner .item-title {
  width: 100%; 
}

.item-title-ara {
  text-align: right;
}


.profile .list-block .item-inner:after {
  height: 0px !important;
}

.profile .profile-upper {
  /* height: 43%; */
  text-align: center;
}

.profile .list-block ul:after {
  height: 0px !important; 
}

.profile .avatar-circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
  margin: 5px;
  margin-top: 16px;
  border: 2px solid rgba(82, 75, 75, 0.4);
	border-radius: 50%;	/* relative value */
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	transition: linear 0.25s;
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
}

.profile .avatar-edit-circle {
  line-height: 0;
  display: inline-block;
  margin: 5px;
  margin-top: 20px;
  border: 2px solid rgba(82, 75, 75, 0.4);
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  transition: linear 0.25s;
  height: 16px;
  width: 16px;
  margin-bottom: 10px;
  position: absolute;
  right: 35.5%;
  background: #4a3f3f;
}

.profile .title-name {
  font-size: 16px;
  margin-bottom: 14px;
}
.profile .welcome {
  font-size: 15px;
}
.profile .list-icon {
  width: 19px;
}

.profile ul {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.avatar-circle img {
	border-radius: 50%;	/* relative value for
				   adjustable image size */
    height: 120px;
  width: 120px;
}
.avatar-circle :hover {
	transition: ease-out 0.2s;
  border: 2px solid rgba(255,255,255,0.8);
  -webkit-transition: ease-out 0.2s;
  
}
.avatar-circle  {
  color: transparent;
} /* IE fix: removes blue border */	

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 13px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0dddd;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -3px;
    bottom: -4px;
    background-color: #a09595;;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #8ed693;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: #2ab934;
  }


/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}
  
    #cancel button {
        background-color: #831433;
        color: #fff;
    }
    

.content-block {
    margin: 35px 0;
    padding: 0 15px;
    color: #6d6d72;
}

.blog-box li .blog-list {
    display: block !important;
  }
  .blog-box li .blog-list:after {
    background-color: transparent !important;
  }
  .blog-box li .blog-list .image a {
    display: inline-block;
    line-height: 1;
    width: 100%;
  }
  .blog-box li .blog-list .image a img {
   width: inherit;
  }
  .blog-box li .blog-list .text {
    padding: 0 15px;
  }
  .blog-box li .blog-list .text .title {
    color: #8d1637;
  }
  .blog-box li .blog-list .text .title a {
    color: #8d1637;
  }
  .blog-box li .blog-list .text small {
    font-size: 11px;
    color: #999;
  }
  .blog-box li .blog-list .text p {
    margin: 0 0 10px;
    font-size: 14px;
  }
  .blog-box li .item-content {
    display: block !important;
  }

  .mt-0 {
    margin-top: 0px !important;
  }

  .mb-0 {
    margin-bottom: 0px !important;
  }

  .mb-5 {
    margin-bottom: 5px !important;
  }

  .mt-5 {
    margin-top: 5px !important;
  }

  .news-content .divider {
    margin-bottom: 0px !important;
  }

  .events-content .divider {
    margin-bottom: 0px !important;
  }

  .news, .events {
    padding-left: 0px;
    margin-top: 0px;
  }

  .events-content small {
    line-height: 2.2;
  }

  .ios .navbar .left {
    margin-right: 0px !important;
    margin-left: 1px !important;
  }

  .tenders-page .item-title {
    font-size: 16px !important;
  }

  .align-right {
    text-align: right;
  }



/********** About Us ************/

.aboutus-text {
  padding: 20px;
  margin: 0px;
}

.aboutus-img {
  padding-top: 20px;
  width: 52%;
  height: 180px;
}

.aboutus-page-header {
  text-align: center
}

.contact-list ul {
  background: #fff !important;
} 
.contact-list {
  margin-bottom: 0px !important;
}
.contactus-text {
  color: #454545;
}
.lang-btn {
  border-radius: 40px !important;
  background: #c8c8ca !important;
}
.profile-circle-ar {
  
  margin: 8px 46px 3px 19% !important;
}
.profile-media-ar {
  padding-left: 14px;
}

.menu-media-ar {
  padding-left: 17px;
  padding-right: 15px;
}

.social-buttons i {
  font-size: 38px;
  color: #8d1637;
  padding: 5px; 
}

.back-icon-login {
  position: absolute;
  top: 11px;
  left: 13px;
  width: 22px;
}

i {
  font-style: normal !important;
}

.ios .navbar~.page-content, .ios .navbar~:not(.no-navbar) .page-content {
  padding-top: 50px !important;
}

blockquote {
  color: #8d1637;
}

.news .news-body {
  height: 3.6em;
  line-height: 1.2em;
  /* width: 200px; */
  overflow: hidden;
  margin-bottom: 0px !important;
}

.height {
  height: auto !important;
}

.readmore-btn {
  color: -webkit-link !important;
  cursor: pointer;
  text-decoration: underline;
}

.news li {
  margin-bottom: 15px;
}
.dataErr {
  background: #cc20201a;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
}
.blockedimage{
  width:100%;
  max-width: 100%
}


/* Loader CSS start*/
/* 


.ios .preloader.color-white, .ios{
  background: url(../assets/img/logo_80.png) no-repeat center center;
  background-size:80px 80px;
  animation:none;

}

Loader CSS end */

.preloader-modal {
  
  background: rgb(165, 61, 89);
}

.preloader-modal {
  position: absolute;
  left: 0%;
  top: 0%;
  padding: 8px;
  background:rgba(255, 255, 255, 0.61)!important;
  -webkit-transform: none!important;
  transform: none!important;
  width: 100%;
  height: 100%;
}

.ios .preloader.color-white, .ios {
  background: url(../assets/img/loader.svg) no-repeat center center;
  animation: none;
  background-size: 100px 100px;
}

.ios .preloader-modal .preloader {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 37%;
}


.accordion-item-opened .list-item a {
  background: #eaeaea!important;
}

#loginclose {
  position: absolute;
  top: 10px;
  right: 20px;
}

.txtContainer{
  padding:10px;
}
.txtContainer .row {
  padding: 5px;
}

.ios .list {
  margin: 10px 0;
  font-size: 17px;
}

.swal-footer {
  text-align: center;
}
.swal-button {
  background-color: #8d1637;
}

.paymentStatus{
  display: none;
  position: absolute;
  top: 2px;
  right: 40px;
  background: #ddd;
  padding: 1px 15px;
  border-radius: 29px;
  color: #fff;
  font-size: 13px;
  font-weight: 800;
}

.paymentStatus.Paid{
  display: block;
  background: green;
}
.paymentStatus.Canceled{
    background: red;
    display: block;
}

.attachment-delete-icon {
  position: absolute;
  right: 38px;
  top: 3px;
  font-size: 21px;
}

/* .ios .searchbar-icon {
  width: 24px !important;
  height: 30px !important;
  margin-top: -15px !important;
  left: 86% !important;
} */


/* {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 86%;
} */

.request-seach-dropdown {
  -webkit-appearance: menulist !important;
  border: 1px solid #ccc !important;
  border-radius: 12px;
  height: 29px; 

  margin-top: 7px;
}

.seach-col-30 {
  background: #f7f7f8;
  height: 44px;
  width: 30% !important;
}

.seach-col-70 {
  width: 70% !important;
}

.add-attach-btn {
  text-align: center;
  color: #4848f1;
}